<template>
	<div class="ev-logger" :class="{ 'is-active': queue.length > 0 }">
		<transition-group name="fade-scale" v-on:leave="leave">
			<ev-snackbar v-for="(item, index) in queue"
				:key="item.time"
				:message="item.message"
				:theme="item.theme"
				:timeout="item.timeout"
				@close="onClose(item)"
			>
			</ev-snackbar>
		</transition-group>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex';
	import anime from 'animejs';

	export default {
		computed: {
			...mapGetters({
				queue: 'logger/getQueue'
			})
		},
		methods: {
			onClose(item) {
				this.$store.commit('logger/pull', { item });
			},
			leave(el, done) {
				anime({
					targets: el,
					height: [el.clientHeight, 0],
					duration: 300,
					easing: 'easeInOutExpo',
					complete: done
				});
			}
		}
	}
</script>

<style lang="sass">
	.ev-logger{
		position: fixed;
		top: -20%;
		margin-top: 30px;
		right: 30px;
		width: 40%;
		z-index: 400;
		transition: top .3s $ease-primary;
		.ev-snackbar{
			overflow: hidden;
		}
		&.is-active{
			top: 0%;
		}
	}
</style>
