<template>
	<div class="ev-donation-address"
		:class="{
			'no-zipcode': address.zipcode.length == 0
		}"
	>
		<transition name="fade-scale">
			<ev-cep-finder
				ref="finder"
				v-if="address.zipcode.length == 0"
				@change="onCepChange"
			>
			</ev-cep-finder>
		</transition>

		<div class="ev-donation-address__wrapper">
			<h3 class="ev-donation-address__title">
				Endereço
			</h3>

			<ev-form class="ev-donation-address__form" :callback="onSubmit">
				<div class="ev-donation-address__fieldset">
					<ev-text v-model="address.street"
						ref="street"
						class="ev-donation-address__street"
						label="Rua"
						name="street"
						validate="required|min:4"
						:theme="theme"
						:dark="true"
					>
					</ev-text>

					<ev-text v-model="address.number"
						class="ev-donation-address__number"
						label="Número"
						name="number"
						validate="required"
						:theme="theme"
						:dark="true"
					>
					</ev-text>

					<ev-text v-model="address.neighbourhood"
						class="ev-donation-address__neighbourhood"
						label="Bairro"
						name="neighbourhood"
						validate="required|min:4"
						:theme="theme"
						:dark="true"
					>
					</ev-text>

					<ev-text v-model="address.complement"
						class="ev-donation-address__complement"
						label="Complemento"
						name="complement"
						:theme="theme"
						:dark="true"
					>
					</ev-text>

					<ev-text v-model="address.city"
						class="ev-donation-address__city"
						label="Cidade"
						name="city"
						validate="required"
						:theme="theme"
						:dark="true"
					>
					</ev-text>

					<ev-select v-model="address.state"
						class="ev-donation-address__state"
						label="Estado"
						placeholder="Selecione seu estado"
						:options="states"
						:theme="theme"
						:dark="true"
					>
					</ev-select>

					<ev-select v-model="address.country_id"
						class="ev-donation-address__country"
						label="País"
						placeholder="Selecione seu país"
						:options="countries"
						:theme="theme"
						:dark="true"
					>
					</ev-select>
				</div>

				<ev-button size="large" theme="primary" :dark="true">
					Prosseguir
				</ev-button>
			</ev-form>

			<aside class="ev-donation-address__sidenav">
				<div class="ev-donation-address-cep">
					<span class="ev-donation-address-cep__label">
						CEP Atual:
					</span>

					<span class="ev-donation-address-cep__current">
						{{ address.zipcode }}
					</span>

					<ev-button size="small" theme="warn" @click="onCepErase">
						Modificar CEP
					</ev-button>
				</div>
			</aside>
		</div>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex';
	import { $store } from '../../main';

	export default {
		data: () => ({
			theme: 'accent'
		}),

		computed: {
			...mapGetters({
				address: 'donation/getAddress',
				countries: 'location/getCountries',
				states: 'location/getStates'
			})
		},

		mounted() {
			setTimeout(() => {
				if (this.address.zipcode.length == 0)
					this.$refs.finder.focus();
				else
					this.$refs.street.focus();
			}, 500);
		},

		methods: {
			onSubmit(event) {
				this.$emit('submit', event);
			},
			onCepChange(cep) {
				this.$store.dispatch('location/resolveCep', cep)
					.then(response => {
						if (response.status == 200) {
							let address = response.body;

							this.address.street = address.logradouro;
							this.address.zipcode = cep;
							this.address.city = address.localidade;
							this.address.state = address.uf;
							this.address.neighbourhood = address.bairro;

							this.$refs.street.focus();
						}
					},
					error => this.$store.commit('logger/error', {
						message: 'Desculpe, não conseguimos encontrar detalhes do CEP específicado.'
					}))
			},
			onCepErase(event) {
				this.address.zipcode = '';

				process.nextTick(() => {
					this.$refs.finder.focus();
				});
			}
		}
	}
</script>

<style lang="sass">
	.ev-donation-address{
		@include grid-collapse;
		&__header{
			position: absolute;
			bottom: 100%;
			left: 0;
			right: 0;
			color: white;
		}
		&__title{
			font-family: Raleway;
			font-weight: 200;
			font-size: 4rem;
			margin: .5em 0 .75em;
			color: white;
			@include grid-column(12);
		}
		&__form{
			position: relative;
			@include grid-column(9);
		}
		&__wrapper{
			opacity: 1;
			filter: blur(0px);
			transition: .3s ease-out;
		}
		&__sidenav{
			@include grid-column(3);
		}
		&__fieldset{
			@include grid-collapse;
		}
		&__zipcode{
			@include grid-column(3);
		}
		&__street{
			@include grid-column(6);
		}
		&__number{
			@include grid-column(2);
		}
		&__neighbourhood{
			@include grid-column(4);
		}
		&__complement,
		&__city{
			@include grid-column(6);
		}
		&__state,
		&__country{
			@include grid-column(6);
		}
		.ev-button{
			width: 100%;
		}
		.ev-donation-address-cep{
			color: white;
			&__label{
				font-size: 1.2rem;
				font-weight: 700;
				display: block;
				font-family: Raleway;
			}
			&__current{
				font-size: 1.6rem;
				display: block;
				padding: 10px 0;
			}
		}
		.ev-cep-finder{
			position: absolute;
			z-index: 20;
			box-sizing: border-box;
			margin-top: 80px;
			@include grid-column(5);
			@include grid-push(3);
		}
		&.no-zipcode{
			.ev-donation-address{
				&__wrapper{
					filter: blur(2px);
					opacity: 0.2;
					pointer-events: none;
				}
			}
		}
	}
</style>
