<template>
	<div class="ev-donation-payment">
		<h2 class="ev-donation-payment__title">
			Selecione o método de pagamento:
		</h2>

		<div class="ev-donation-payment__methods">
			<div class="ev-donation-payment-card ev-donation-payment-card--pagseguro">
				<img src="/images/pagseguro-brand.png" alt="PagSeguro">
				<small class="ev-donation-payment-card__warning">
					Para concluir o pagamento, você será redirecionado para a página do PagSeguro.
				</small>
				<ev-button :dark="true" @click="onPagSeguroClick">
					Continuar
				</ev-button>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex';

	export default {
		computed: {
			...mapGetters({
				redirect_uri: 'donation/getUri'
			})
		},
		methods: {
			onPagSeguroClick(event) {
				window.location.href = this.redirect_uri;
			}
		}
	}
</script>

<style lang="sass">
	.ev-donation-payment{
		&__title{
			color: white;
			font-family: Raleway;
			font-size: 6rem;
			font-weight: 200;
			margin-top: 0;
			margin-bottom: 1em;
			text-align: center;
		}
		&__methods{
			@include grid-collapse;
			.ev-donation-payment-card{
				@include grid-column(4);
				@include grid-push(4);
			}
		}
		.container{
			width: 100%;
		}
	}

	.ev-donation-payment-card{
		border: 2px solid white;
		border-radius: 10px;
		padding: 30px;
		text-align: center;
		box-sizing: border-box;
		img{
			width: 80%;
			max-width: 250px;
			height: auto;
		}
		&__warning{
			color: white;
			display: block;
			font-size: 14px;
			line-height: 150%;
			margin: 20px 0 20px;
			font-family: Raleway;
		}
		.ev-button{
			width: 100%;
		}
	}
</style>
