<template>
	<div class="ev-donation-choose">
		<h2 class="ev-donation-choose__title">
			Doar
			<input
				ref="value"
				type="text"
				class="ev-donation-choose__value"
				v-ev-mask-currency
				name="value"
				:value="donation.value"
				@click="onValueClick"
				@blur="onValueBlur"
			>
			reais para:
		</h2>

		<div class="ev-donation-choose__institutions">
			<ev-institution-card
				v-for="(institution, index) in institutions"
				:key="institution.id"
				:title="institution.name"
				:thumbnail="institution.thumbnail"
				:theme="index == 0 ? 'accent' : 'warn'"
				:dark="true"
				@click="onClick(institution)"
			>
			</ev-institution-card>
		</div>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex';

	export default {
		components: {
			'ev-institution-card': require('../institution/InstitutionCard')
		},
		computed: {
			...mapGetters({
				donation: 'donation/getDonation',
				institution: 'donation/getInstitution', 
				institutions: 'institution/getInstitutions'
			})
		},
		methods: {
			onClick(institution) {
				if (this.donation.value && parseFloat(this.donation.value) > 0) {
					this.$store.commit('donation/setInstitution', institution);

					return this.$emit('select', institution);
				}

				// Trigger error message
				this.$store.commit('logger/error', {
					message: 'Por favor, insira um valor válido.'
				})

				// Focus value input
				this.$refs.value.focus();
			},
			onValueClick(event) {
				let length = event.target.value.length;

				event.target.setSelectionRange(length, length);
			},
			onValueBlur(event) {
				this.$store.commit('donation/setValue', event.target.value);
			}
		}
	}
</script>

<style lang="sass">
	.ev-donation-choose{
		&__title{
			color: white;
			font-family: Raleway;
			font-size: 6.4rem;
			font-weight: 200;
			line-height: normal;
			margin-top: .25em;
			margin-bottom: .5em;
			text-align: center;
		}
		&__value{
			color: white;
			font-family: Raleway;
			font-size: 6.4rem;
			font-weight: 200;
			background: transparent;
			border: 0;
			width: 250px;
			text-align: center;
			border-bottom: 4px solid $color-warn;
			transition: 0.2s ease-out;
			&:focus{
				background: rgba($color-warn, 0.2);
			}
		}
		&__institutions{
			@include grid-collapse;
		}
		.container{
			width: 100%;
		}
		.ev-institution-card{
			@include grid-column(6);
		}
	}
</style>
