@import "./src/stylesheet/icons";

html{
	font-size: 62.5%;
	background-color: $color-primary;
	background-attachment: fixed;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

body{
	margin: 0;
	width: 100%;
	overflow-x: hidden;
	font-size: 1.4rem;
	font-family: Open Sans;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:before{
		content: "";
		position: fixed;
		background: linear-gradient(to bottom, rgba(darken($color-secondary, 20%), 1) 0%, rgba(darken($color-primary, 0%), 0.2) 100%);
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
	}
}

.container{
	@include outer-container;
}

h1, h2, h3, h4, h5{
	margin: .5em 0 1em;
}

button, input, textarea{
	outline: none;
	resize: none;
}

.ev-title{
	text-transform: uppercase;
	text-align: center;
	font-family: Raleway;
	font-weight: 200;
	&--primary{
		color: $color-primary;
	}
	&--secondary{
		color: $color-secondary;
	}
	&--accent{
		color: $color-accent;
	}
	&--warn{
		color: $color-warn;
	}
	&.is-dark{
		color: white;
	}
}

h1.ev-title{
	font-size: 80px;
}

h2.ev-title{
	font-size: 60px;
}

h3.ev-title{
	font-size: 50px;
}

// NProgress
#nprogress{
	.bar{
		background: #E91E63 !important;
	}
	.peg{
		box-shadow: 0 0 10px #E91E63, 0 0 5px #E91E63 !important;
	}
	.spinner{
		display: none !important;
	}
}
