@charset "UTF-8";

@font-face {
  font-family: "aev";
  src:url("/fonts/aev.eot");
  src:url("/fonts/aev.eot?#iefix") format("embedded-opentype"),
    url("/fonts/aev.woff") format("woff"),
    url("/fonts/aev.ttf") format("truetype"),
    url("/fonts/aev.svg#aev") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "aev" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "aev" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\61";
}
.icon-google:before {
  content: "\66";
}
.icon-facebook:before {
  content: "\67";
}
.icon-youtube:before {
  content: "\68";
}
.icon-linkedin:before {
  content: "\6b";
}
.icon-whatsapp:before {
  content: "\62";
}
.icon-angle-down:before {
  content: "\63";
}
.icon-angle-left:before {
  content: "\64";
}
.icon-angle-right:before {
  content: "\6c";
}
.icon-angle-up:before {
  content: "\6d";
}
.icon-instagram:before {
  content: "\65";
}
.icon-twitter:before {
  content: "\69";
}
