$color-primary: #448AFF;
$color-secondary: #673AB7;
$color-accent: #FFA726;
$color-warn: #C51162;

$themes: (
	primary: $color-primary,
	secondary: $color-secondary,
	accent: $color-accent,
	warn: $color-warn
);
