<template>
	<ev-form class="ev-cep-finder"
		:class="{
			'ev-cep-finder--primary': theme == 'primary',
			'ev-cep-finder--secondary': theme == 'secondary',
			'ev-cep-finder--accent': theme == 'accent',
			'ev-cep-finder--warn': theme == 'warn'
		}"
		:callback="onSubmit"
	>
		<h4 class="ev-cep-finder__title">
			Qual seu CEP?
		</h4>

		<p class="ev-cep-finder__subtitle">
			Para sua conveniência, utilizaremos o número de <b>CEP</b> para completar o seu endereço.
		</p>

		<ev-text ref="text"
			v-model="cep"
			class="input"
			label="Número do CEP"
			name="cep"
			validate="required|min:9"
			mask="cep"
			:theme="theme"
		>
		</ev-text>

		<ev-button class="ev-cep-finder__submit" :theme="theme">
			Enviar
		</ev-button>

		<small class="ev-cep-finder__consult">
			Não sabe o seu CEP? <a href="#">Consulte aqui</a>!
		</small>
	</ev-form>
</template>

<script>
	export default {
		data: () => ({
			cep: ''
		}),
		props: {
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			}
		},
		methods: {
			focus() {
				this.$refs.text.focus();
			},
			onSubmit(event) {
				this.$emit('change', this.cep);
			}
		}
	}
</script>

<style lang="sass">
	.ev-cep-finder{
		background: white;
		border-radius: 10px;
		padding: 30px;
		&__title{
			text-align: center;
			font-family: Raleway;
			font-size: 3rem;
			font-weight: 200;
			margin: 0 0 .5em;
		}
		&__subtitle{
			text-align: center;
			line-height: 150%;
			font-size: 1.2rem;
			margin: 1.5em;
		}
		&__input{
		
		}
		&__consult{
			text-align: center;
			display: block;
			margin-top: 10px;
		}
		&__submit{
			width: 100%;
		}

		@each $theme, $color in $themes {
			&--#{$theme}{
				.ev-cep-finder{
					&__title,
					&__subtitle{
						color: $color;
					}
				}
			}
		}
	}
</style>
