<template>
	<div class="ev-content"
		:class="{
			'ev-content--primary': theme == 'primary',
			'ev-content--secondary': theme == 'secondary',
			'ev-content--accent': theme == 'accent',
			'ev-content--warn': theme == 'warn',
			'is-dark': dark
		}"
	>
		<slot></slot>
	</div>
</template>

<script>
	export default {
		props: {
			theme: {
				type: String,
				default: 'primary'
			},
			dark: {
				type: Boolean,
				default: false
			}
		},
		data: () => ({
			images: []
		}),
		mounted() {
			// Loop throught all figure elements
			this.$el.querySelectorAll('figure').forEach((figure, index) => {
				// Populate images array
				this.images.push({
					thumbnail: figure.querySelector('img').src,
					caption: figure.querySelector('caption').innerHTML
				});

				// Fire figure event when figure is clicked
				figure.addEventListener('click', e => this.onFigureClick(index));
			});
		},
		methods: {
			onFigureClick(index) {
				this.$emit('fullscreen', {
					index: index + 1,
					images: this.images
				});
			}
		}
	}
</script>

<style lang="sass">
	.ev-content{
		color: black;
		p{
			font-family: Droid Serif;
			font-weight: 400;
			font-size: 1.7rem;
			line-height: 190%;
			margin-top: 0;
			margin-bottom: 1.7em;
			&:last-child{
				margin-bottom: 0;
			}
		}
		a{
			font-weight: 700;
		}
		figure{
			margin: 0 -30px 40px;
			border-radius: 6px;
			box-shadow: 0 2px 4px -1px rgba(black, .2), 0 4px 5px rgba(black, .14), 0 1px 10px rgba(black, .12);
			position: relative;
			overflow: hidden;
			cursor: pointer;
			img{
				width: 100%;
				height: auto;
				transition: transform .3s $ease-primary;
				transform: scale(1.05);
			}
			caption{
				position: absolute;
				display: block;
				margin-top: 10px;
				background: black;
				border-radius: 6px;
				color: white;
				padding: 10px 30px;
				width: 60%;
				left: 50%;
				bottom: 20px;
				transform: translate(-50%, 0);
				z-index: 10;
				transition: bottom .3s $ease-primary;
				font-size: 1.2rem;
			}
			&:before{
				content: "";
				position: absolute;
				background: rgba(black, 0.7);
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 5;
				opacity: 0;
				visibility: hidden;
				transition: .3s $ease-primary;
				border-radius: 6px;
			}
			&:after{
				content: "search";
				position: absolute;
				top: 50%;
				left: 50%;
				color: white;
				font-family: 'Material Icons';
				font-size: 9rem;
				z-index: 10;
				transform: translate(-50%, -50%) scale(1.5);
				opacity: 0;
				visibility: hidden;
				transition: .3s $ease-primary;
			}
			&:hover{
				&:before,
				&:after{
					opacity: 1;
					visibility: visible;
				}
				&:after{
					transform: translate(-50%, -50%) scale(1);
				}
				img{
				}
				caption{
					bottom: 30px;
				}
			}
		}
		blockquote{
			border-left: 6px solid rgba(black, 0.3);
			margin: 0 30px 30px 0;
			padding: 20px 40px;
			position: relative;
			&:after{
				content: "format_quote";
				font-family: 'Material Icons';
				font-size: 9rem;
				opacity: 0.7;
				position: absolute;
				line-height: 70%;
				top: -10px;
				right: -10px;
			}
			p{
				font-size: 2rem;
				margin: 0 0 1em 0;
			}
		}
		&.is-dark{
			color: white;
			a{
				color: white;
			}
			blockquote{
				border-color: white;
				&:after{
					color: white;
				}
			}
		}
		@each $theme, $color in $themes {
			&--#{$theme}{
				color: darken($color, 20%);
				a{
					color: $color;
				}
				figure{
					&:before{
						background: rgba(darken($color, 20%), 0.7);
					}
					caption{
						background: $color;
					}
				}
				blockquote{
					border-color: $color;
					&:after{
						color: $color;
					}
				}
			}
		}
	}
</style>
