<template>
	<ev-modal
		class="ev-gallery-fullscreen"
		:theme="null"
		@close="onClose"
	>
		<ev-slideshow ref="slideshow" :start="start">
			<div class="ev-gallery-fullscreen__slide"
				v-for="image in images"
			>
				<img :src="image.src" :alt="image.caption">
			</div>
		</ev-slideshow>
	</ev-modal>
</template>

<script>
	export default {
		mounted() {
			document.body.addEventListener('keydown', this.onKeydown);
		},

		destroyed() {
			document.body.removeEventListener('keydown', this.onKeydown);
		},

		props: {
			start: {
				type: Number,
				default: 0
			},
			images: {
				type: Array,
				default: () => []
			},
			theme: {
				type: String,
				default: 'warn'
			}
		},

		methods: {
			onClose(event) {
				this.$emit('close', event);
			},

			onKeydown(event) {
				// Close when esc is pressed
				if (event.keyCode == 27)
					this.onClose(event);

				// Previous image when left is pressed
				if (event.keyCode == 37)
					this.$refs.slideshow.prev();

				// Next image when right is pressed
				if (event.keyCode == 39)
					this.$refs.slideshow.next();
			}
		}
	}
</script>

<style lang="sass">
	.ev-gallery-fullscreen{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 200;
		&__slide{
			display: flex;
			align-items: center;
			justify-content: center;
			img{
				width: 60%;
				height: auto;
				box-shadow: 0 2px 4px -1px rgba(black, .2), 0 4px 5px rgba(black, .14), 0 1px 10px rgba(black, .12);
			}
		}
		&__close{
			position: absolute;
			top: 5%;
			right: 5%;
			background: transparent;
			cursor: pointer;
			border: 0;
			width: 60px;
			height: 60px;
			z-index: 20;
			&:before,
			&:after{
				content: "";
				width: 100%;
				height: 2px;
				background: white;
				position: absolute;
				top: 50%;
				left: 50%;
			}
			&:before{
				transform: translate(-50%, -50%) rotate(45deg);
			}
			&:after{
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
		.ev-slideshow{
			width: 100%;
			&__pagination{
				position: absolute;
				bottom: 5%;
				left: 0;
				width: 100%;
				z-index: 20;
				span{
					width: 15px;
					height: 15px;
					border-radius: 15px;
					background: white;
				}
			}
			&__arrow{
				position: absolute;
				top: 50%;
				transform: translate(0, -50%);
				z-index: 20;
				font-size: 5rem;
				color: white;
				&--left{
					left: 5%;
				}
				&--right{
					right: 5%;
				}
			}
		}
	}
</style>
