<template>
	<div class="ev-grid"
		:class="{
			'ev-grid--primary': theme == 'primary',
			'ev-grid--secondary': theme == 'secondary',
			'ev-grid--accent': theme == 'accent',
			'ev-grid--warn': theme == 'warn'
		}"
	>
		<div class="ev-grid__item"
			v-for="(image, index) in images"
			:style="{
				'background-image': `url(${image.src})`
			}"
			@click="onSelect(index)"
		>
			<span class="ev-grid__caption" v-if="image.caption">
				{{ image.caption }}
			</span>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			images: {
				type: Array,
				default: () => []
			},
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			}
		},
		methods: {
			onSelect(event) {
				this.$emit('select', event);
			}
		}
	}
</script>

<style lang="sass">
	.ev-grid{
		display: flex;
		flex-flow: row wrap;
		&__item{
			background-position: center;
			background-size: cover;
			position: relative;
			width: 20%;
			cursor: pointer;
			&:before{
				content: "";
				display: block;
				padding-top: 100%;
				background: rgba(black, 0.7);
				transition: .3s $ease-primary;
				opacity: 0;
			}
			&:after{
				content: "search";
				font-family: 'Material Icons';
				font-size: 5rem;
				color: white;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(1.5);
				transition: .3s $ease-primary;
				opacity: 0;
			}
			&:hover{
				&:before{
					opacity: 1;
				}
				&:after{
					opacity: 1;
					transform: translate(-50%, -50%) scale(1);
				}
				.ev-grid__caption{
					opacity: 1;
					bottom: 10px;
				}
			}
		}
		&__caption{
			position: absolute;
			bottom: -10px;
			left: 0;
			right: 0;
			padding: 30px 10px 10px;
			text-align: center;
			color: white;
			opacity: 0;
			font-size: 1.2rem;
			font-weight: 600;
			transition: .3s $ease-primary;
		}

		@each $theme, $color in $themes {
			&--#{$theme}{
				background: darken($color, 30%);
				.ev-grid{
					&__item{
						&:before{
							background: rgba(darken($color, 20%), 0.7);
						}
					}
				}
			}
		}
	}
</style>
