<template>
	<div class="ev-map">
		<div class="ev-map__wrapper" ref="wrapper">
		</div>
		<div class="ev-map__markers">
		</div>
	</div>
</template>

<script>
	export default {
		data: () => ({
			map: null
		}),
		props: {
			lat: {
				type: Number,
				default: 0
			},
			lng: {
				type: Number,
				default: 0
			},
			zoom: {
				type: Number,
				default: 10
			},
			markers: {
				type: Array,
				default: () => []
			}
		},
		mounted() {
			this.map = new google.maps.Map(this.$refs.wrapper, {
				center: {
					lat: this.lat,
					lng: this.lng
				},
				zoom: this.zoom,
				scrollwheel: false
			});

			this.markers.forEach(marker => {
				this.addMarker(marker.lat, marker.lng);
			})
		},
		methods: {
			setCoord(lat, lng) {
				// Update google maps coordinates
				this.map.setCenter(new google.maps.LatLng(lat, lng));
			},
			addMarker(lat, lng) {
				let marker = new google.maps.Marker({
					position: {
						lat: +lat,
						lng: +lng
					}
				});

				marker.setMap(this.map);
			}
		}
	}
</script>

<style lang="sass">
	.ev-map{
		position: relative;
		min-height: 150px;
		&__wrapper{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
</style>
