<template>
	<div class="ev-modal"
		:class="{
			'ev-modal--primary': theme == 'primary',
			'ev-modal--secondary': theme == 'secondary',
			'ev-modal--accent': theme == 'accent',
			'ev-modal--warn': theme == 'warn',
			'is-active': active
		}"
		@click="onClick"
	>
		<button class="ev-modal__close" @click="onClose">
		</button>

		<slot></slot>
	</div>
</template>

<script>
	export default {
		mounted() {
			document.body.style.overflow = 'hidden';
			this.$nextTick(() => this.active = true);
		},

		destroyed() {
			document.body.style.overflow = null;
		},

		props: {
			theme: {
				type: String,
				default: 'primary'
			}
		},

		data: () => ({
			active: false
		}),

		methods: {
			onClose(event) {
				this.active = false;
				this.$nextTick(() => this.$emit('close', event));
			},
			onClick(event) {
				if (event.target == this.$el)
					this.onClose(event);
			}
		}
	}
</script>

<style lang="sass">
	.ev-modal{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		z-index: 300;
		background: rgba(black, 0.7);
		&__close{
			position: absolute;
			top: 5%;
			right: 5%;
			background: transparent;
			cursor: pointer;
			border: 0;
			width: 60px;
			height: 60px;
			z-index: 20;
			&:before,
			&:after{
				content: "";
				width: 100%;
				height: 2px;
				background: white;
				position: absolute;
				top: 50%;
				left: 50%;
				transition: .3s $ease-primary;
			}
			&:before{
				transform: translate(-50%, -50%) rotate(0deg);
			}
			&:after{
				transform: translate(-50%, -50%) rotate(-0deg);
			}
		}
		&.is-active{
			.ev-modal{
				&__close{
					&:before{
						transform: translate(-50%, -50%) rotate(45deg);
					}
					&:after{
						transform: translate(-50%, -50%) rotate(-45deg);
					}
				}
			}
		}
		@each $theme, $color in $themes{
			&--#{$theme}{
				background: linear-gradient(to right bottom, rgba($color, 0.95) 0%, rgba($color-secondary, 1) 100%);
			}
		}
	}
</style>
