<template>
	<div class="ev-slideshow"
		:class="{
			'ev-slideshow--primary': theme == 'primary',
			'ev-slideshow--secondary': theme == 'secondary',
			'ev-slideshow--accent': theme == 'accent',
			'ev-slideshow--warn': theme == 'warn'
		}"
	>
		<div class="ev-slideshow__swiper swiper-container">
			<div class="ev-slideshow__wrapper swiper-wrapper">
				<slot></slot>
			</div>
		</div>
		<div class="ev-slideshow__navigation">
			<button v-if="buttons"
				class="ev-slideshow__arrow ev-slideshow__arrow--left material-icons"
			>
				{{ prevIcon }}
			</button>

			<div class="ev-slideshow__pagination" v-if="pagination">
			</div>

			<button v-if="buttons"
				class="ev-slideshow__arrow ev-slideshow__arrow--right material-icons">
				{{ nextIcon }}
			</button>
		</div>
	</div>
</template>

<script>
	import Swiper from 'swiper';

	export default {
		props: {
			start: {
				type: Number,
				default: 0
			},
			prevIcon: {
				type: String,
				default: 'arrow_back',
			},
			nextIcon: {
				type: String,
				default: 'arrow_forward'
			},
			options: {
				type: Object,
				default: () => {}
			},
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			},
			pagination: {
				type: Boolean,
				default: true
			},
			buttons: {
				type: Boolean,
				default: true
			}
		},
		data: () => ({
			swiper: null,
		}),

		mounted() {
			this.swiper = new Swiper(
				this.$el.querySelector('.swiper-container'),
				Object.assign(this.defaults(), this.options)
			);
		},

		methods: {
			defaults() {
				let element = this.$el,
					slides = element.querySelectorAll('.swiper-wrapper > *');

				// Add swiper class to slides
				slides.forEach(slide => slide.classList.add('swiper-slide'));

				return {
					onInit: (swiper) => {
						swiper.slideTo(this.start);
					},
					loop: true,
					paginationClickable: true,
					pagination: element.querySelector('.ev-slideshow__pagination'),
					prevButton: element.querySelector('.ev-slideshow__arrow--left'),
					nextButton: element.querySelector('.ev-slideshow__arrow--right'),
				}
			},

			prev() {
				this.swiper.slidePrev();
			},

			next() {
				this.swiper.slideNext();
			}
		}
	}
</script>

<style lang="sass">
	.ev-slideshow{
		position: relative;
		&__arrow{
			background: transparent;
			color: black;
			border: 0;
			cursor: pointer;
			padding: 5px 0;
			&--left{
			}
			&--right{
			}
		}
		&__navigation{
			display: flex;
			align-items: center;
		}
		&__pagination{
			flex: 1;
			text-align: center;
			span{
				margin: 10px 5px;
				opacity: 0.4;
				background: black;
				&.swiper-pagination-bullet-active{
					opacity: 1;
				}
			}
		}
		&--primary{
			.ev-slideshow{
				&__arrow{
					color: $color-primary;
				}
				&__pagination{
					span{
						background: $color-primary;
					}
				}
			}
		}
		&--secondary{
			.ev-slideshow{
				&__arrow{
					color: $color-secondary;
				}
				&__pagination{
					span{
						background: $color-secondary;
					}
				}
			}
		}
		&--accent{
			.ev-slideshow{
				&__arrow{
					color: $color-accent;
				}
				&__pagination{
					span{
						background: $color-accent;
					}
				}
			}
		}
		&--warn{
			.ev-slideshow{
				&__arrow{
					color: $color-warn;
				}
				&__pagination{
					span{
						background: $color-warn;
					}
				}
			}
		}
	}
</style>
