<template>
	<div class="ev-snackbar" :class="classes" @mouseover="onHover">
		<div class="ev-snackbar__wrapper">
			<div class="ev-snackbar__message">
				{{ message }}
			</div>
			<button class="ev-snackbar__close material-icons" @click="onClose">
				close
			</button>
		</div>
	</div>
</template>

<script>
	export default {
		data: () => ({
			classes: {},
			timer: 0
		}),
		props: {
			message: {
				type: String,
				default: 'Mail Sent'
			},
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			},
			timeout: {
				type: Number,
				default: 5000
			}
		},
		mounted() {
			this.$set(this.classes, 'ev-snackbar--primary', this.theme == 'primary');
			this.$set(this.classes, 'ev-snackbar--secondary', this.theme == 'secondary');
			this.$set(this.classes, 'ev-snackbar--accent', this.theme == 'accent');
			this.$set(this.classes, 'ev-snackbar--warn', this.theme == 'warn');

			// Start timer
			this.resetTimer();
		},
		methods: {
			onClose(event) {
				clearTimeout(this.timer);
				this.$emit('close');
			},
			onHover() {
				this.resetTimer();
			},
			onTimeout() {
				this.$emit('close');
			},
			resetTimer() {
				clearTimeout(this.timer);
				this.timer = setTimeout(() => this.onTimeout(), this.timeout);
			}
		}
	}
</script>

<style lang="sass">
	.ev-snackbar{
		&__wrapper{
			color: white;
			padding: 20px;
			display: flex;
			border-radius: 6px;
			box-shadow: 0 2px 4px -1px rgba(black, .1), 0 4px 5px rgba(black, .05), 0 1px 10px rgba(black, .07);
			margin-bottom: 30px;
			align-items: center;
		}
		&__message{
			flex: 1;
			font-weight: 700;
		}
		&__close{
			background: transparent;
			border: 0;
			color: white;
			cursor: pointer;
		}

		// Themes
		@each $theme, $color in $themes {
			&--#{$theme}{
				.ev-snackbar{
					&__wrapper{
						background: linear-gradient(
							to bottom right,
							rgba($color, 1) 0%,
							rgba(darken(saturate($color, 40%), 10%), 1) 100%
						);
					}
				}
			}
		}
	}
</style>
