<template>
	<label class="ev-textarea"
		:class="{
			'ev-textarea--primary': theme == 'primary',
			'ev-textarea--secondary': theme == 'secondary',
			'ev-textarea--accent': theme == 'accent',
			'ev-textarea--warn': theme == 'warn',
			'ev-textarea--sm': size == 'small',
			'ev-textarea--md': size == 'medium',
			'ev-textarea--lg': size == 'large',
			'is-dark': dark,
			'is-focused': focused
		}"
	>
		<span class="ev-textarea__label">
			{{ label }}
		</span>

		<div class="ev-textarea__input">
			<span class="ev-textarea__prefix" v-if="prefix.length > 0">
				{{ prefix }}
			</span>
			<textarea
				ref="element"
				class="ev-textarea__element"
				tabindex="0"
				rows="1"
				:type="type"
				:value="value"
				:placeholder="placeholder"
				@change="onChange"
				@focus="onFocus"
				@blur="onBlur"
			>
			</textarea>
		</div>

		<span class="ev-textarea__error">
		</span>
	</label>
</template>

<script>
	import autosize from 'autosize';

	export default {
		props: {
			type: {
				type: String,
				default: 'text'
			},
			label: {
				type: String,
				default: ''
			},
			prefix: {
				type: String,
				default: ''
			},
			placeholder: {
				type: String,
				default: ''
			},
			value: {
				type: String,
				default: ''
			},
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			},
			size: {
				type: String,
				default: 'medium' // small|medium|large
			},
			dark: {
				type: Boolean,
				default: false
			}
		},
		data: () => ({
			focused: false,
		}),
		mounted() {
			autosize(this.$refs.element);
		},
		methods: {
			focus(value) {
				this.$refs.element.focus();
			},
			onFocus(event) {
				this.focused = true;
			},
			onBlur(event) {
				this.focused = false;
			},
			onChange(event) {
				this.$emit('input', event.target.value);
			}
		}
	}
</script>

<style lang="sass">
	.ev-textarea{
		position: relative;
		display: block;
		&__label{
			font-size: 1.2rem;
			color: black;
			display: block;
			text-align: left;
			padding-bottom: 10px;
		}
		&__input{
			position: relative;
			display: flex;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border: 1px solid black;
				border-radius: 6px;
				transition: .15s ease-out;
			}
		}
		&__element{
			border: 0;
			background: transparent;
			color: black;
			width: 100%;
			flex: 1;
			transition: color .3s $ease-primary;
			position: relative;
			&::-webkit-input-placeholder {
				font-weight: 400;
				opacity: 0.5;
			}
			&:-moz-placeholder {
				font-weight: 400;
				opacity: 0.5;
			}
			&::-moz-placeholder {
				font-weight: 400;
				opacity: 0.5;
			}
			&:-ms-input-placeholder {
				font-weight: 400;
				opacity: 0.5;
			}
			&::-ms-input-placeholder {
				font-weight: 400;
				opacity: 0.5;
			}
		}
		&__prefix{
			line-height: normal;
			display: flex;
			align-self: center;
			color: black;
			font-weight: 600;
			padding-right: 5px;
			transition: color .3s $ease-primary;
			position: relative;
		}
		&__error{
			position: absolute;
		}
		&--sm{
			padding-bottom: 20px;
			.ev-textarea{
				&__element{
					font-size: 1.4rem;
					font-weight: 700;
					padding: 8px 0;
				}
				&__label{
					font-size: 1rem;
					padding-bottom: 5px;
				}
				&__prefix{
					font-size: 1.4rem;
				}
				&__input{
					padding: 0 8px;
				}
			}
		}
		&--md{
			padding-bottom: 30px;
			.ev-textarea{
				&__element{
					font-size: 1.6rem;
					font-weight: 700;
					padding: 14px 0;
				}
				&__prefix{
					font-size: 1.6rem;
				}
				&__input{
					padding: 0 14px;
				}
			}
		}
		&--lg{
			padding-bottom: 30px;
			.ev-textarea{
				&__element{
					font-size: 2rem;
					font-weight: 700;
					padding: 18px 0;
				}
				&__prefix{
					font-size: 2rem;
				}
				&__input{
					padding: 0 18px;
				}
			}
		}
		&.is-focused{
			.ev-textarea{
				&__input{
					&:before{
						border-width: 2px;
					}
				}
			}
			&:not(.is-dark){
				.ev-textarea{
					&__element{
						color: white;
					}
				}
			}
		}
		&.is-dark{
			.ev-textarea{
				&__label,
				&__element,
				&__prefix{
					color: white;
				}
				&__input{
					&:before{
						border-color: white;
					}
				}
				&__element{
					&::-webkit-input-placeholder {
						color: white;
					}
					&:-moz-placeholder {
						color: white;
					}
					&::-moz-placeholder {
						color: white;
					}
					&:-ms-input-placeholder {
						color: white;
					}
					&::-ms-input-placeholder {
						color: white;
					}
				}
			}
		}
	}

	@each $theme, $color in $themes {
		.ev-textarea--#{$theme} {
			&:not(.is-dark){
				.ev-textarea{
					&__prefix{
						color: $color;
					}
					&__element{
						&::-webkit-input-placeholder {
							color: $color;
						}
						&:-moz-placeholder {
							color: $color;
						}
						&::-moz-placeholder {
							color: $color;
						}
						&:-ms-input-placeholder {
							color: $color;
						}
						&::-ms-input-placeholder {
							color: $color;
						}
					}
				}
				&.is-focused{
					.ev-textarea{
						&__element{
							&::-webkit-input-placeholder {
								color: white;
							}
							&:-moz-placeholder {
								color: white;
							}
							&::-moz-placeholder {
								color: white;
							}
							&:-ms-input-placeholder {
								color: white;
							}
							&::-ms-input-placeholder {
								color: white;
							}
						}
					}
				}
			}

			&.is-focused,
			&:not(.is-dark){
				.ev-textarea{
					&__label,
					&__prefix,
					&__element{
						color: $color;
					}
					&__input{
						&:before{
							border-color: $color;
						}
					}
				}
			}

			&.is-focused:not(.is-dark){
				.ev-textarea{
					&__prefix{
						color: white;
					}
					&__input:before{
						background-color: $color;
					}
				}
			}
		}
	}
</style>
