<template>
	<div class="ev-institution-card"
		:class="{
			'ev-institution-card--primary': theme == 'primary',
			'ev-institution-card--secondary': theme == 'secondary',
			'ev-institution-card--accent': theme == 'accent',
			'ev-institution-card--warn': theme == 'warn',
			'is-dark': dark
		}"
		@click="onClick"
	>
		<div class="ev-institution-card__wrapper">
			<h3 class="ev-institution-card__title">
				{{ title }}
			</h3>
			<div class="ev-institution-card__thumbnail"
				v-bind:style="{ 'background-image': `url(${thumbnail ? thumbnail.src : ''})` }"
			>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			title: {
				type: String,
				default: ''
			},
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			},
			dark: {
				type: Boolean,
				default: false
			},
			thumbnail: {
				type: String,
				default: ''
			}
		},
		methods: {
			onClick(event) {
				this.$emit('click', event);
			}
		}
	}
</script>

<style lang="sass">
	.ev-institution-card{
		border: 2px solid rgba(black, 0.1);
		border-radius: 10px;
		cursor: pointer;
		background: white;
		transition: .3s $ease-primary;
		position: relative;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: black;
			border-radius: 10px;
			opacity: 0;
			transition: .3s $ease-primary;
			z-index: -1;
		}
		&__wrapper{
			padding: 20px;
			position: relative;
			z-index: 5;
		}
		&__thumbnail{
			background-size: cover;
			background-position: center;
			border-radius: 6px;
			&:after{
				content: "";
				display: block;
				padding-top: 50%;
			}
		}
		&__title{
			text-align: center;
			font-size: 26px;
			font-family: Raleway;
			margin: 0 0 20px;
		}
		&--primary{
			color: $color-primary;
			border-color: $color-primary;
			&:before{
				background-color: $color-primary;
			}
			&.is-dark{
				color: white;
				background: $color-primary;
			}
		}
		&--secondary{
			color: $color-secondary;
			border-color: $color-secondary;
			&:before{
				background-color: $color-secondary;
			}
			&.is-dark{
				color: white;
				background: $color-secondary;
			}
		}
		&--accent{
			color: $color-accent;
			border-color: $color-accent;
			&:before{
				background-color: $color-accent;
			}
			&.is-dark{
				color: white;
				background: $color-accent;
			}
		}
		&--warn{
			color: $color-warn;
			border-color: $color-warn;
			&:before{
				background-color: $color-warn;
			}
			&.is-dark{
				color: white;
				background: $color-warn;
			}
		}
		&.is-dark{
			border: 0;
			&:before{
				background-color: white;
			}
		}
		.ev-button{
			width: 100%;
		}
		&:hover{
			box-shadow: 0 2px 4px -1px rgba(black, .2), 0 4px 5px rgba(black, .14), 0 1px 10px rgba(black, .12);
			transform: translate(0, -2px);
			color: white;
			&:before{
				opacity: 1;
			}
			&.is-dark{
				&:before{
					opacity: 0.2;
				}
			}
		}
	}
</style>
