<template>
	<div class="ev-volunteer-availability"
		:class="{
			'ev-volunteer-availability--primary': theme == 'primary',
			'ev-volunteer-availability--secondary': theme == 'secondary',
			'ev-volunteer-availability--accent': theme == 'accent',
			'ev-volunteer-availability--warn': theme == 'warn'
		}"
	>
		<form class="ev-volunteer-availability__form"
			@submit="onSubmit"
		>
			<h3 class="ev-volunteer-availability__title">
				Disponibilidade
			</h3>

			<div class="ev-volunteer-availability__fieldset">
				<h4 class="ev-volunteer-availability__subtitle">
					Dias da semana
				</h4>
				<div class="ev-volunteer-availability__days">
					<label
						class="ev-volunteer-availability__day"
						:class="{ 'is-active': volunteer.days.sun }"
					>
						<span>
							Dom
						</span>
						<input type="checkbox"
							:checked="volunteer.days.sun"
							@change="onDayChange('sun', $event)"
						>
					</label>

					<label
						class="ev-volunteer-availability__day"
						:class="{ 'is-active': volunteer.days.mon }"
					>
						<span>
							Seg
						</span>
						<input type="checkbox"
							:checked="volunteer.days.mon"
							@change="onDayChange('mon', $event)"
						>
					</label>

					<label
						class="ev-volunteer-availability__day"
						:class="{ 'is-active': volunteer.days.tue }"
					>
						<span>
							Ter
						</span>
						<input type="checkbox"
							:checked="volunteer.days.tue"
							@change="onDayChange('tue', $event)"
						>
					</label>

					<label
						class="ev-volunteer-availability__day"
						:class="{ 'is-active': volunteer.days.wed }"
					>
						<span>
							Qua
						</span>
						<input type="checkbox"
							:checked="volunteer.days.wed"
							@change="onDayChange('wed', $event)"
						>
					</label>

					<label
						class="ev-volunteer-availability__day"
						:class="{ 'is-active': volunteer.days.thu }"
					>
						<span>
							Qui
						</span>
						<input type="checkbox"
							:checked="volunteer.days.thu"
							@change="onDayChange('thu', $event)"
						>
					</label>

					<label
						class="ev-volunteer-availability__day"
						:class="{ 'is-active': volunteer.days.fri }"
					>
						<span>
							Sex
						</span>
						<input type="checkbox"
							:checked="volunteer.days.fri"
							@change="onDayChange('fri', $event)"
						>
					</label>

					<label
						class="ev-volunteer-availability__day"
						:class="{ 'is-active': volunteer.days.sat }"
					>
						<span>
							Sab
						</span>
						<input type="checkbox"
							:checked="volunteer.days.sat"
							@change="onDayChange('sat', $event)"
						>
					</label>
				</div>
			</div>

			<div class="ev-volunteer-availability__fieldset">
				<h4 class="ev-volunteer-availability__subtitle">
					Turno
				</h4>
				<div class="ev-volunteer-availability__shifts">
					<label class="ev-volunteer-availability__shift"
						:class="{ 'is-active': volunteer.shifts.first }"
					>
						<span>
							Manhã
						</span>
						<input type="checkbox"
							:checked="volunteer.shifts.first"
							@change="onShiftChange('first', $event)"
						>
					</label>

					<label class="ev-volunteer-availability__shift"
						:class="{ 'is-active': volunteer.shifts.second }"
					>
						<span>
							Tarde
						</span>
						<input type="checkbox"
							:checked="volunteer.shifts.second"
							@change="onShiftChange('second', $event)"
						>
					</label>
				</div>
			</div>

			<ev-button size="large" theme="accent" :dark="true">
				Prosseguir
			</ev-button>

			<aside class="ev-volunteer-availability__sidenav">
			</aside>
		</form>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex';

	export default {
		computed: {
			...mapGetters({
				volunteer: 'volunteer/getVolunteer',
			})
		},
		props: {
			theme: {
				type: String,
				default: 'secondary'
			}
		},
		methods: {
			onDayChange(day, event) {
				this.$store.commit('volunteer/setDay', {
					key: day,
					value: !this.volunteer.days[day]
				})
			},
			onShiftChange(shift, event) {
				this.$store.commit('volunteer/setShift', {
					key: shift,
					value: !this.volunteer.shifts[shift]
				});
			},
			onSubmit() {
				let valid = [false, false];

				// Check if a day was selected
				for (let day in this.volunteer.days)
					if (this.volunteer.days[day])
						valid[0] = true

				// Check if a shift was selected
				for (let shift in this.volunteer.shifts)
					if (this.volunteer.shifts[shift])
						valid[1] = true

				if (valid[0] && valid[1])
					this.$emit('submit', event);
				else
					this.$store.commit('logger/error', {
						message: 'Selecione pelo menos um dia da semana e um turno.'
					})

				event.preventDefault();
			}
		}
	}
</script>

<style lang="sass">
	.ev-volunteer-availability{
		&__form{
			position: relative;
			@include grid-column(9);
		}
		&__sidenav{
			@include grid-column(3);
		}
		&__title{
			font-family: Raleway;
			font-weight: 200;
			font-size: 4rem;
			color: white;
			margin: 0;
			position: absolute;
			bottom: 100%;
			left: 0;
			width: 100%;
			display: none;
		}
		&__subtitle{
			color: white;
			font-size: 3rem;
			font-weight: 400;
			font-family: Raleway;
			text-align: center;
			margin: 0 0 .5em;
		}
		&__fieldset{
			margin-top: 30px;
			margin-bottom: 30px;
			padding: 20px;
			border: 2px solid white;
			border-radius: 6px;
		}
		&__days,
		&__shifts{
			display: flex;
			align-content: center;
		}
		&__day,
		&__shift{
			flex: 1;
			cursor: pointer;
			border: 0;
			text-align: center;
			padding: 15px 0;
			transition: .3s $ease-primary;
			border: 2px solid white;
			border-right: 0;
			border-left: 0;
			background: white;
			&:first-child{
				border-radius: 6px 0 0 6px;
				border-left: 2px solid white;
			}
			&:last-child{
				border-radius: 0 6px 6px 0;
				border-right: 2px solid white;
			}
			span{
				font-weight: 600;
				font-family: Raleway;
				font-size: 2.4rem;
			}
			input{
				display: none;
			}
			&.is-active{
				span{
					font-weight: 600;
				}
			}
		}
		.ev-button{
			width: 100%;
		}

		@each $theme, $color in $themes{
			&--#{$theme}{
				.ev-volunteer-availability{
					&__day,
					&__shift{
						color: $color;
						border-color: $color;
						&.is-active{
							color: white;
							background: $color;
						}
					}
				}
			}
		}
	}
</style>
