<template>
	<ev-modal class="ev-volunteer-modal" @close="onClose" theme="accent">
		<div class="container">
			<ev-stepper class="ev-volunteer-modal__stepper"
				:value="step"
				:steps="steps"
				@input="setStep"
				direction="vertical"
				theme="accent"
			>
			</ev-stepper>

			<div class="ev-volunteer-modal__body">
				<transition name="slide-up">
					<ev-volunteer-availability v-if="step == 1" @submit="setStep(2)">
					</ev-volunteer-availability>

					<ev-volunteer-personal v-if="step == 2" @submit="setStep(3)">
					</ev-volunteer-personal>

					<ev-volunteer-address v-if="step == 3" @submit="setStep(4)">
					</ev-volunteer-address>

					<ev-volunteer-fieldset v-if="step == 4" @submit="addVolunteer">
					</ev-volunteer-fieldset>
				</transition>
			</div>
		</div>

		<transition name="slide-up">
			<aside class="ev-volunteer-modal__sidenav" v-if="step > 1">
				<ev-button size="small" theme="secondary" :dark="false" @click="setStep(step - 1)">
					Anterior
				</ev-button>
				<div class="ev-volunteer-modal__summary">
					<span class="ev-volunteer-modal__days">
						<span
							class="ev-volunteer-modal__day"
							v-for="(day, key) in volunteer.days"
							v-if="day"
						>
							{{ key == 'sun' ? 'Dom' : '' }}
							{{ key == 'mon' ? 'Seg' : '' }}
							{{ key == 'tue' ? 'Ter' : '' }}
							{{ key == 'wed' ? 'Qua' : '' }}
							{{ key == 'thu' ? 'Qui' : '' }}
							{{ key == 'fri' ? 'Sex' : '' }}
							{{ key == 'sat' ? 'Sab' : '' }}
						</span>
					</span>
					<span class="ev-volunteer-modal__shifts">
						às
						{{ getShifts() }}
					</span>
				</div>
			</aside>
		</transition>
	</ev-modal>
</template>

<script>
	import { mapGetters } from 'vuex';

	export default {
		components: {
			'ev-volunteer-availability': require('./VolunteerAvailability'),
			'ev-volunteer-personal': require('./VolunteerPersonal'),
			'ev-volunteer-address': require('./VolunteerAddress'),
			'ev-volunteer-fieldset': require('./VolunteerFieldset')
		},
		data: () => ({
			steps: [
				'Disponibilidade',
				'Dados Pessoais',
				'Endereço',
				'Detalhes'
			]
		}),
		computed: {
			...mapGetters({
				step: 'volunteer/getStep',
				volunteer: 'volunteer/getVolunteer',
				person: 'volunteer/getPerson',
				address: 'volunteer/getAddress'
			})
		},
		methods: {
			onClose(event) {
				this.$emit('close', event);

				// Reset steps
				setTimeout(() => this.setStep(1), 1000);
			},
			setStep(step) {
				if (step == 3)
					this.$store.dispatch('location/fetchCountries')
						.then(countries => {
							this.$store.commit('volunteer/setStep', step);
						})
				else
					this.$store.commit('volunteer/setStep', step);
			},
			getShifts() {
				let shifts = [];

				for (let shift in this.volunteer.shifts) {
					if (shift == 'first' && this.volunteer.shifts.first)
						shifts.push('manhãs')
					else if (shift == 'second' && this.volunteer.shifts.second)
						shifts.push('tardes')
				}

				return shifts.join(' e ')
			},
			addVolunteer() {
				this.$store.dispatch('volunteer/addVolunteer', {
					volunteer: this.volunteer,
					person: this.person,
					address: this.address
				})
					.then(response => {
						this.$store.commit('logger/info', {
							message: 'Obrigado! Em breve entraremos em contato com você.'
						})

						this.onClose();
					})
			}
		}
	}
</script>

<style lang="sass">
	.ev-volunteer-modal{
		display: flex;
		align-items: center;
		&__stepper{
			@include grid-column(1, (columns: 8));
		}
		&__body{
			position: relative;
			@include grid-column(7, (columns: 8));
			> * {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}
		}
		&__sidenav{
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			color: white;
			font-family: Raleway;
			box-sizing: border-box;
			padding: 20px 20px;
			background: darken($color-secondary, 10%);
			line-height: 100%;
			display: flex;
			align-items: center;
			.ev-button{
				width: 150px;
			}
		}
		&__summary{
			flex: 1;
			text-align: right;
		}
		&__day{
			font-size: 2.6rem;
			font-weight: 200;
			text-transform: uppercase;
			line-height: 100%;
			padding: 0 5px;
		}
		&__shifts{
			font-size: 1.4rem;
			font-weight: 700;
		}
		.container{
			width: 100%;
			padding: 100px 0;
			position: relative;
		}
	}
</style>
