<template>
	<div class="ev-volunteer-fieldset">
		<h3 class="ev-volunteer-fieldset__title">
			Detalhes
		</h3>

		<ev-form class="ev-volunteer-fieldset__form" :callback="onSubmit">
			<div class="ev-volunteer-fieldset__fieldset">
				<ev-select
					class="ev-volunteer-fieldset__civil"
					label="Estado Civil"
					v-model="volunteer.civil_status"
					placeholder="Selecione um estado civil"
					:options="civil_status"
					:theme="theme"
					:dark="true"
				>
				</ev-select>

				<ev-text
					class="ev-volunteer-fieldset__birthday"
					label="Data de Nascimento"
					name="birthday"
					validate="required|min:10"
					mask="date"
					v-model="volunteer.birthday"
					:theme="theme"
					:dark="true"
				>
				</ev-text>

				<ev-text
					class="ev-volunteer-fieldset__religion"
					label="Religião"
					name="religion"
					v-model="volunteer.religion"
					:theme="theme"
					:dark="true"
				>
				</ev-text>

				<ev-text
					class="ev-volunteer-fieldset__ocupation"
					label="Ocupação"
					name="ocupation"
					validate="required|min:2"
					v-model="volunteer.ocupation"
					:theme="theme"
					:dark="true"
				>
				</ev-text>

				<ev-text
					class="ev-volunteer-fieldset__abilities"
					label="Habilidades"
					name="abilities"
					validate="required|min:2"
					v-model="volunteer.abilities"
					:theme="theme"
					:dark="true"
				>
				</ev-text>

				<ev-textarea
					class="ev-volunteer-fieldset__suggestions"
					label="Sugestões"
					name="suggestions"
					v-model="volunteer.suggestions"
					:theme="theme"
					:dark="true"
				>
				</ev-textarea>

				<ev-textarea
					class="ev-volunteer-fieldset__reason"
					label="Razão"
					name="reason"
					v-model="volunteer.reason"
					:theme="theme"
					:dark="true"
				>
				</ev-textarea>
			</div>

			<ev-button size="large" theme="accent" :dark="true">
				Prosseguir
			</ev-button>
		</ev-form>

		<aside class="ev-volunteer-fieldset__sidenav">
		</aside>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex';

	export default {
		data: () => ({
			theme: 'secondary',
			civil_status: {
				'single': 'Solteiro(a)',
				'married': 'Casado(a)',
				'divorced': 'Divorciado(a)',
				'widowed': 'Viúvo(a)'
			}
		}),

		computed: {
			...mapGetters({
				volunteer: 'volunteer/getVolunteer'
			})
		},

		methods: {
			onSubmit(event) {
				this.$emit('submit', event);
			}
		}
	}
</script>

<style lang="sass">
	.ev-volunteer-fieldset{
		@include grid-collapse;
		&__header{
			position: absolute;
			bottom: 100%;
			left: 0;
			right: 0;
			color: white;
		}
		&__title{
			font-family: Raleway;
			font-weight: 200;
			font-size: 4rem;
			margin: .5em 0 .75em;
			color: white;
			@include grid-column(12);
		}
		&__form{
			@include grid-column(9);
		}
		&__sidenav{
			@include grid-column(3);
		}
		&__fieldset{
			@include grid-collapse;
		}
		&__civil{
			@include grid-column(5);
		}
		&__birthday{
			@include grid-column(3);
		}
		&__religion{
			@include grid-column(4);
		}
		&__ocupation{
			@include grid-column(6);
		}
		&__abilities{
			@include grid-column(6);
		}
		&__suggestions,
		&__reason{
			@include grid-column(6);
		}
		.ev-button{
			width: 100%;
		}
	}
</style>
