<template>
	<div class="ev-about-association"
		:class="{
			'ev-about-association--primary': theme == 'primary',
			'ev-about-association--secondary': theme == 'secondary',
			'ev-about-association--accent': theme == 'accent',
			'ev-about-association--warn': theme == 'warn'
		}"
	>
		<div class="container">
			<h2 class="ev-about-association__title">
				A Associação
			</h2>
			<div class="container">
				<ev-content
					class="ev-about-association__content"
					v-if="quill"
					v-html="content"
					:theme="theme"
					:dark="true"
					@fullscreen="onFullscreen"
				>
				</ev-content>

				<div class="ev-about-association__quill">
				</div>

				<div class="ev-about-association__thumbnail">
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import Quill from 'quill';

	export default {
		props: {
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			},
			value: {
				type: Object,
				default: () => {}
			}
		},
		data: () => ({
			quill: null
		}),
		mounted() {
			this.quill = new Quill('.ev-about-association__quill');
			this.quill.setContents(this.value.content.ops);
		},
		computed: {
			content () {
				return this.quill.container.firstChild.innerHTML;
			}
		},
		methods: {
			onFullscreen(event) {
				this.$store.commit('gallery/open', event);
			}
		}
	}
</script>

<style lang="sass">
	.ev-about-association{
		position: relative;
		padding-bottom: 100px;
		padding-top: 100px;
		&__title{
			font-family: Raleway;
			font-size: 5rem;
			font-weight: 200;
			margin-top: 0;
			@include grid-column(12);
		}
		&__quill{
			display: none;
		}
		&__content{
			@include grid-column(6);
		}
		&__thumbnail{
			@include grid-column(6);
			img{
				width: 100%;
				height: auto;
				border-radius: 6px;
				box-shadow: 0 2px 4px -1px rgba(black, .2), 0 4px 5px rgba(black, .14), 0 1px 10px rgba(black, .12);
			}
		}
		@each $theme, $color in $themes{
			&--#{$theme}{
				color: white;
				background: $color;
				.ev-about-association{
					&__title{
						//
					}
				}
			}
		}
	}
</style>
