<template>
	<div class="ev-about-services" 
		:class="{
			'ev-about-services--primary': theme == 'primary',
			'ev-about-services--secondary': theme == 'secondary',
			'ev-about-services--accent': theme == 'accent',
			'ev-about-services--warn': theme == 'warn'
		}"
	>
		<div class="container">
			<h2 class="ev-about-services__title">
				Nossos Serviços
			</h2>

			<div class="ev-about-services__list">
				<div class="ev-about-services__item">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis tincidunt quam, et bibendum dui. Cras eleifend, enim in dignissim dictum, massa odio bibendum dolor, vitae accumsan lacus enim quis massa.</p>
				</div>

				<div class="ev-about-services__item">
					<p>Cras eleifend, enim in dignissim dictum, massa odio bibendum dolor, vitae accumsan lacus enim quis massa. Orci varius natoque penatibus et magnis dis parturient.</p>
				</div>

				<div class="ev-about-services__item">
					<p>Mauris quis tincidunt quam, et bibendum dui. Cras eleifend, enim in dignissim dictum, massa odio bibendum dolor, vitae accumsan lacus enim quis massa.</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			theme: {
				type: String,
				default: 'accent' // primary|secondary|accent|warn
			}
		}
	}
</script>

<style lang="sass">
	.ev-about-services{
		&__title{
			font-family: Raleway;
			font-size: 5rem;
			font-weight: 200;
			text-align: center;
		}
		&__list{
			display: flex;
		}
		&__item{
			text-align: center;
			box-sizing: border-box;
			padding: 30px;
			border-radius: 10px;
			background: linear-gradient(to right bottom, $color-secondary 0%, $color-warn 100%);
			color: white;
			font-family: Droid Serif;
			font-size: 1.7rem;
			line-height: 190%;
			@include grid-column(4);
			p{
				margin: 0;
			}
		}
		@each $theme, $color in $themes{
			&--#{$theme}{
				.ev-about-services{
					&__title{
						color: $color;
					}
				}
			}
		}
	}
</style>
