<template>
	<div class="ev-about-institutions"
		:class="{
			'ev-about-institutions--primary': theme == 'primary',
			'ev-about-institutions--secondary': theme == 'secondary',
			'ev-about-institutions--accent': theme == 'accent',
			'ev-about-institutions--warn': theme == 'warn',
			'is-dark': dark
		}"
	>
		<ev-institution
			v-for="(institution, index) in institutions"
			:key="index"
			:institution="institution"
			:align="index % 2 ? 'left' : 'right'"
			:dark="dark"
		>
		</ev-institution>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex';

	export default {
		components: {
			'ev-institution': require('../institution/Institution')
		},
		props: {
			dark: {
				type: Boolean,
				default: false
			},
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			}
		},
		computed: {
			...mapGetters({
				institutions: 'institution/getInstitutions'
			})
		}
	}
</script>

<style lang="sass">
	.ev-about-institutions{
		&__title{
			font-family: Raleway;
			font-size: 5rem;
			font-weight: 200;
			margin-top: 0;
			@include grid-column(12);
		}
		&.is-dark{
			.ev-about-institutions{
				&__title{
					color: white;
				}
			}
		}
		@each $theme, $color in $themes{
			&--#{$theme}{
				.ev-about-institutions{
					&__title{
						color: $color;
					}
				}
				&.is-dark{
					background: $color;
				}
			}
		}
	}
</style>
