<template>
	<div class="ev-about-cooperate">
		<div class="container">
			<ev-donation-widget
				:dark="true"
				theme="primary"
				@submit="$router.push('/about/donate')"
			>
			</ev-donation-widget>

			<ev-volunteer-widget
				:dark="true"
				theme="accent"
				@submit="$router.push('/about/volunteer')"
			>
			</ev-volunteer-widget>
		</div>
	</div>
</template>

<script>
	export default {
		components: {
			'ev-donation-widget': require('../donation/DonationWidget'),
			'ev-volunteer-widget': require('../volunteer/VolunteerWidget')
		},
		methods: {
		}
	}
</script>

<style lang="sass">
	.ev-about-cooperate{
		background: $color-warn;
		box-sizing: border-box;
		padding-top: 170px;
		padding-bottom: 100px;
		.ev-donation-widget,
		.ev-volunteer-widget{
			@include grid-column(6, (gutter: 80px));
		}
		.container{
			display: flex;
			flex-flow: row wrap;
		}
	}
</style>
