<template>
	<div class="ev-about">
		<ev-inner-header
			title="Sobre"
			:theme="theme"
			:background="page.thumbnail ? page.thumbnail.src : ''"
		>
		</ev-inner-header>

		<ev-about-association :theme="theme" :value="page">
		</ev-about-association>

		<ev-about-institutions theme="secondary" :dark="true">
		</ev-about-institutions>

		<transition name="fade-scale">
			<router-view @close="$router.push('/about')"></router-view>
		</transition>
	</div>
</template>

<script>
	import { $store } from '../../main';

	export default {
		components: {
			'ev-about-association': require('./AboutAssociation'),
			'ev-about-services': require('./AboutServices'),
			'ev-about-institutions': require('./AboutInstitutions'),
			'ev-about-cooperate': require('./AboutCooperate'),
		},
		beforeRouteEnter(to, from, next) {
			Promise.all([
				$store.dispatch('page/getPage', 1),
				$store.dispatch('institution/fetchInstitutions')
			])
				.then(([page, institutions]) => {
					next(vm => {
						vm.page = page;
					});
				})
		},
		data: () => ({
			theme: 'accent',
			page: {}
		})
	}
</script>

<style lang="sass">
	.ev-about{
		background: white;
		.ev-inner-header{
			margin-bottom: 0;
		}
	}
</style>
