<template>
	<div class="ev-event-card"
		:style="{ 'background-image': `url(${thumbnail ? thumbnail.src : ''})` }"
		:class="{
			'ev-event-card--md': size == 'medium',
			'ev-event-card--lg': size == 'large',
			'ev-event-card--primary': theme == 'primary',
			'ev-event-card--secondary': theme == 'secondary',
			'ev-event-card--accent': theme == 'accent',
			'ev-event-card--warn': theme == 'warn'
		}"
		@click="onClick"
	>
		<span class="ev-event-card__institution">
			{{ institution.name }}
		</span>
		<div class="ev-event-card__wrapper">
			<time class="ev-event-card__time">
				<span class="material-icons">
					access_time
				</span>
				{{ date }}
			</time>
			<h3 class="ev-event-card__title">
				{{ title }}
			</h3>
			<p class="ev-event-card__excerpt">
				{{ excerpt }}
			</p>
		</div>
	</div>
</template>

<script>
	export default {
		data: () => ({
			classes: {}
		}),
		props: {
			size: {
				type: String,
				default: 'medium'
			},
			theme: {
				type: String,
				default: 'primary'
			},
			title: {
				type: String,
				default: ''
			},
			excerpt: {
				type: String,
				default: ''
			},
			institution: {
				type: Object,
				default: () => {}
			},
			thumbnail: {
				type: Object,
				default: () => {}
			},
			date: {
				type: String,
				default: ''
			}
		},
		methods: {
			onClick(event) {
				this.$emit('click', event);
			}
		}
	}
</script>

<style lang="sass">
	.ev-event-card{
		cursor: pointer;
		background-position: 50% 50%;
		background-size: cover;
		transition: .3s $ease-primary;
		position: relative;
		overflow: hidden;
		color: white;
		text-align: center;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgba(black, 0.5);
			transition: .3s $ease-primary;
		}
		&__wrapper{
			padding: 20px;
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			transform: translate(0, -25%);
			transition: .3s $ease-primary;
			z-index: 5;
		}
		&__title{
			font-size: 3.2rem;
			font-family: Raleway;
			margin: 0;
		}
		&__excerpt{
			font-size: 1.8rem;
			opacity: 0;
			transition: .3s $ease-primary;
		}
		&__time{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 90%;
			display: flex;
			align-items: center;
			font-size: 1.2rem;
			font-weight: 600;
			justify-content: center;
			span{
				display: inline-block;
				margin-right: 5px;
				font-size: 2rem;
			}
		}
		&__institution{
			position: absolute;
			bottom: 0;
			font-weight: 600;
			opacity: 0;
			transition: .3s $ease-primary;
			&:before{
				content: "Instituição de";
				position: absolute;
				bottom: 100%;
				right: 0;
				font-weight: 500;
				font-size: 1rem;
			}
		}

		// Hover
		&:hover{
			background-position: 50% 45%;
			.ev-event-card{
				&__wrapper{
					transform: translate(0, -50%);
				}
				&__institution,
				&__excerpt{
					opacity: 1;
				}
			}
		}

		// Medium
		&--md{
			height: 250px;
			border-radius: 6px;
			.ev-event-card{
				&__time{
					display: none;
				}
				&__institution{
					right: 20px;
				}
			}
			&:hover{
				.ev-event-card{
					&__institution{
						bottom: 20px;
					}
				}
			}
		}

		// Large
		&--lg{
			border-radius: 10px;
			&:after{
				content: "";
				display: block;
				padding-top: 50%;
			}
			.ev-event-card{
				&__institution{
					right: 30px;
				}
			}
			&:hover{
				.ev-event-card{
					&__institution{
						bottom: 30px;
					}
				}
			}
		}

		// Themes
		@each $theme, $color in $themes {
			&--#{$theme}{
				&:hover{
					&:before{
						background: rgba(darken($color, 10%), 0.9);
					}
				}
			}
		}
	}
</style>
