<template>
	<aside class="ev-event-filter">
		<ev-text
			label="Palavra-chave"
			name="keyword"
			size="small"
			v-model="keyword"
			:theme="theme"
			@keyup="onKeyUp"
		>
		</ev-text>
	</aside>
</template>

<script>
	import { $store } from '../../main';

	export default {
		props: {
			theme: {
				type: String,
				default: 'warn'
			}
		},
		data: () => ({
			timer: null
		}),
		computed: {
			keyword: {
				get () {
					return $store.state.blog.keyword;
				},
				set (value) {
					$store.commit('event/setKeyword', value);
				}
			}
		},
		methods: {
			onKeyUp(event) {
				clearTimeout(this.timer);

				this.timer = setTimeout(() => {
					$store.commit('event/setKeyword', event.target.value);
					$store.dispatch('event/fetchEvents')
				}, 500);
			}
		}
	}
</script>

<style lang="sass">
	.ev-event-filter {
		//
	}
</style>
