<template>
	<div class="ev-event-read"
		:class="{
			'ev-event-read--primary': theme == 'primary',
			'ev-event-read--secondary': theme == 'secondary',
			'ev-event-read--accent': theme == 'accent',
			'ev-event-read--warn': theme == 'warn'
		}"
	>
		<header class="ev-event-read__header"
			:style="{
				'background-image': `url(${event.thumbnail ? event.thumbnail.src : ''})`
			}"
		>
			<h1 class="ev-event-read__title">
				{{ event.title }}
			</h1>
		</header>

		<div class="container">
			<ev-social-share :theme="theme">
			</ev-social-share>

			<div class="ev-event-read__body">
				<time class="ev-event-read__time">
					<span class="material-icons">
						access_time
					</span>
					{{ event.date }}
				</time>

				<span class="ev-event-read__institution" v-if="event.institution">
					{{ event.institution.name }}
				</span>

				<ev-content
					v-if="quill"
					v-html="content"
					:theme="theme"
				>
				</ev-content>

				<div class="ev-event-read__quill">
				</div>
			</div>
		</div>

		<footer class="ev-event-read__footer">
			<ev-event-gallery
				:theme="theme"
				:images="event.gallery"
			>
			</ev-event-gallery>
		</footer>

		<div class="container">
			<!--ev-event-related :theme="theme" :events="related">
			</ev-event-related-->
		</div>
	</div>
</template>

<script>
	import { $store } from '../../main';
	import Quill from 'quill';

	export default {
		components: {
			'ev-event-gallery': require('./EventGallery'),
			'ev-event-related': require('./EventRelated')
		},
		beforeRouteEnter (to, from, next) {
			$store.dispatch('event/getEvent', { id: to.params.id })
				.then(event => {
					next(vm => {
						vm.event = event;
						vm.quill = new Quill('.ev-event-read__quill');
						vm.quill.setContents(vm.event.content.ops);
					})
				})
		},
		data: () => ({
			theme: 'secondary',
			event: {},
			related: [
				{
					title: 'Lorem ipsum',
					thumbnail: 'https://lorempixel.com/400/300'
				},
				{
					title: 'Lorem ipsum',
					thumbnail: 'https://lorempixel.com/400/301'
				},
			],
			quill: null
		}),
		computed: {
			content () {
				return this.quill.container.firstChild.innerHTML;
			}
		}
	}
</script>

<style lang="sass">
	.ev-event-read{
		background: white;
		&__header{
			padding: 200px 0;
			box-shadow: 0 30px 60px -30px rgba(black, .2);
			position: relative;
			background-position: center;
			background-size: cover;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: linear-gradient(to right bottom, rgba(black, 0.7) 0%, rgba(black, 0) 70%);
			}
		}
		&__quill{
			display: none;
		}
		&__title{
			color: white;
			font-family: Raleway;
			font-size: 6rem;
			font-weight: 200;
			text-align: center;
			margin: 0;
			position: relative;
		}
		&__body{
			margin-top: -100px;
			background: white;
			padding: 60px;
			border-radius: 10px;
			box-sizing: border-box;
			position: relative;
			@include grid-column(10);
			@include grid-push(1);
		}
		&__time{
			position: absolute;
			bottom: 100%;
			right: 0;
			display: flex;
			align-items: center;
			font-size: 1.2rem;
			font-weight: 600;
			justify-content: center;
			color: white;
			margin-bottom: 20px;
			span{
				display: inline-block;
				margin-right: 5px;
				font-size: 2rem;
			}
		}
		&__institution{
			position: absolute;
			bottom: 100%;
			left: 0;
			font-weight: 600;
			color: white;
			margin-bottom: 20px;
			&:before{
				content: "Instituição de";
				position: absolute;
				bottom: 100%;
				font-weight: 500;
				font-size: 1rem;
			}
		}
		.ev-social-share{
			position: absolute;
			left: 20px;
			top: 100px;
		}
		.ev-event-gallery{
			margin: 80px 0;
		}
		.ev-event-related{
			margin-bottom: 80px;
			@include grid-column(12);
		}
		.container{
			position: relative;
		}

		@each $theme, $color in $themes{
			&--#{$theme}{
				.ev-event-read{
					&__header{
						&:before{
							background: linear-gradient(to right bottom, rgba(darken($color-secondary, 20%), 0.9) 0%, rgba($color, 0.9) 100%);
						}
					}
				}
			}
		}
	}
</style>
