<template>
	<div class="ev-home-partners">
		<ev-slideshow :options="options" theme="warn" :pagination="false" :buttons="false">
			<div class="ev-home-partners__slide">
				<span>
					<img src="/images/delete/partner-01.png" alt="">
				</span>
			</div>
			<div class="ev-home-partners__slide">
				<span>
					<img src="/images/delete/partner-02.png" alt="">
				</span>
			</div>
			<div class="ev-home-partners__slide">
				<span>
					<img src="/images/delete/partner-03.png" alt="">
				</span>
			</div>
			<div class="ev-home-partners__slide">
				<span>
					<img src="/images/delete/partner-04.png" alt="">
				</span>
			</div>
		</ev-slideshow>
		<ev-button theme="warn" size="medium">
			Torne-se nosso parceiro!
		</ev-button>
	</div>
</template>

<script>
	export default {
		data: () => ({
			options: {
				loop: true,
				slidesPerView: 4,
				spaceBetween: 30,
				autoplay: 5000,
				autoplayDisableOnInteraction: false
			}
		})
	}
</script>

<style lang="sass">
	.ev-home-partners{
		padding: 150px 0;
		position: relative;
		&__slide{
			span{
				position: absolute;
				top: 50%;
				left: 50%;
				width: 150px;
				height: 150px;
				transform: translate(-50%, -50%);
				border-radius: 999px;
				background: white;
				box-shadow: 0 2px 4px -1px rgba(black, .1), 0 4px 5px rgba(black, .05), 0 1px 10px rgba(black, .07);
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			img{
				width: 80%;
				height: auto;
			}
		}
		.ev-slideshow{
			&__swiper{
				height: 170px;
			}
		}
		.ev-button{
			position: absolute;
			left: 50%;
			bottom: 50px;
			transform: translate(-50%, 0);
		}
	}
</style>
