<template>
	<div class="ev-home-section"
		:class="{
			'ev-home-section--primary': theme == 'primary',
			'ev-home-section--secondary': theme == 'secondary',
			'ev-home-section--accent': theme == 'accent',
			'ev-home-section--warn': theme == 'warn',
			'is-dark': dark
		}"
	>
		<div class="container">
			<header class="ev-home-section__header" v-if="title.length > 0">
				<h2 class="ev-home-section__title ev-title">
					<span>
						{{ title }}
					</span>
				</h2>
				<h3 class="ev-home-section__subtitle">
					{{ subtitle }}
				</h3>
			</header>
			<div class="ev-home-section__body">
				<slot></slot>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			theme: {
				type: String,
				default: 'primary'
			},
			dark: {
				type: Boolean,
				default: false
			},
			title: {
				type: String,
				default: ''
			},
			subtitle: {
				type: String,
				default: ''
			}
		}
	}
</script>

<style lang="sass">
	.ev-home-section{
		padding-top: 130px;
		padding-bottom: 130px;
		background: white;
		&__header{
			margin-bottom: 110px;
		}
		&__title{
			position: relative;
			margin: 0;
			span{
				position: relative;
				background: white;
				display: inline-block;
				padding: 0 30px;
			}
			&:before{
				content: "";
				height: 2px;
				background: black;
				position: absolute;
				top: 50%;
				left: 30px;
				right: 30px;
				transform: translate(0, -50%);
			}
		}
		&__subtitle{
			text-align: center;
			font-family: Raleway;
			font-size: 2rem;
		}

		@each $theme, $color in $themes{
			&--#{$theme}{
				&:not(.is-dark){
					.ev-home-section{
						&__title{
							color: $color;
							&:before{
								background: $color;
							}
						}
						&__subtitle{
							color: $color
						}
					}
				}
				&.is-dark{
					background: $color;
					.ev-home-section{
						&__title{
							color: white;
							&:before{
								color: white;
								background: white;
							}
							span{
								background: $color;
							}
						}
						&__subtitle{
							color: white;
						}
					}
				}
			}
		}
	}
</style>
