<template>
	<div class="ev-home-cooperate">
		<ev-donation-widget
			:dark="true"
			theme="primary"
			@submit="$router.push('/donate')"
		>
		</ev-donation-widget>

		<ev-volunteer-widget
			:dark="true"
			theme="accent"
			@submit="$router.push('/volunteer')"
		>
		</ev-volunteer-widget>
	</div>
</template>

<script>
	export default {
		components: {
			'ev-donation-widget': require('../donation/DonationWidget'),
			'ev-volunteer-widget': require('../volunteer/VolunteerWidget')
		},
		methods: {
		}
	}
</script>

<style lang="sass">
	.ev-home-cooperate{
		background: $color-warn;
		box-sizing: border-box;
		.ev-donation-widget,
		.ev-volunteer-widget{
			@include grid-column(6, (gutter: 80px));
		}
		.container{
			display: flex;
			flex-flow: row wrap;
		}
	}
</style>
