<template>
	<div class="ev-home">
		<ev-home-featured>
		</ev-home-featured>

		<ev-home-section
			title="Colabore"
			subtitle="Lorem ipsum sit amet"
			theme="warn"
			:dark="true"
		>
			<ev-home-cooperate>
			</ev-home-cooperate>
		</ev-home-section>

		<ev-home-section
			title="Conheça-nos"
			subtitle="Lorem ipsum sit amet"
			theme="primary"
            :dark="true"
		>
			<ev-institution-card
				title="João Pessoa"
				thumbnail="http://lorempixel.com/500/300"
				theme="accent"
				:dark="true"
			>
			</ev-institution-card>

			<ev-institution-card
				title="Campina Grande"
				thumbnail="http://lorempixel.com/500/302"
				theme="warn"
				:dark="true"
			>
			</ev-institution-card>
		</ev-home-section>

		<ev-home-partners>
		</ev-home-partners>

		<transition name="fade-scale">
			<router-view @close="$router.push('/')">
			</router-view>
		</transition>
	</div>
</template>

<script>
	export default {
		components: {
			'ev-home-featured': require('./HomeFeatured'),
			'ev-home-cooperate': require('./HomeCooperate'),
			'ev-home-partners': require('./HomePartners'),
			'ev-home-section': require('./HomeSection'),
			'ev-institution-card': require('../institution/InstitutionCard'),
			'ev-post-card': require('../post/PostCard'),
			'ev-contact-map': require('../contact/ContactMap')
		},
	}
</script>

<style lang="sass">
	.ev-home{
		.ev-institution-card{
			@include grid-column(6);
		}
	}
</style>
