<template>
	<div class="ev-home-featured">
		<ev-slideshow
			prev-icon="keyboard_arrow_left"
			next-icon="keyboard_arrow_right"
			:options="swiper"
		>
			<div class="ev-home-featured__item" :style="{ 'background-image': 'url(http://lorempixel.com/1024/768)' }">
				<div class="container">
					<h3 class="ev-home-featured__title">
						Lorem ipsum sit amet
					</h3>
					<p class="ev-home-featured__excerpt">
						Evento realizado durante o mês de dezembro, festa do natal realizado em dezembro.
					</p>
				</div>
			</div>
			<div class="ev-home-featured__item" :style="{ 'background-image': 'url(http://lorempixel.com/1024/769)' }">
				<div class="container">
					<h3 class="ev-home-featured__title">
						Sit amet ipsum lorem longer than before
					</h3>
					<p class="ev-home-featured__excerpt">
						Evento realizado durante o mês de dezembro, festa do natal realizado em dezembro.
					</p>
				</div>
			</div>
			<div class="ev-home-featured__item" :style="{ 'background-image': 'url(http://lorempixel.com/1024/770)' }">
				<div class="container">
					<h3 class="ev-home-featured__title">
						Slide 3
					</h3>
					<p class="ev-home-featured__excerpt">
						Evento realizado durante o mês de dezembro, festa do natal realizado em dezembro.
					</p>
				</div>
			</div>
		</ev-slideshow>
	</div>
</template>

<script>
	export default {
		data: () => ({
			swiper: {
				onInit() {},
				slidesPerView: 'auto',
				centeredSlides: true,
				slideToClickedSlide: true,
				spaceBetween: 0
			}
		})
	}
</script>

<style lang="sass">
	.ev-home-featured{
		height: 90%;
		min-height: 600px;
		background: linear-gradient(to bottom, $color-secondary 0%, darken($color-warn, 10%) 100%);
		&__item{
			width: calc(100% - 280px) !important;
			background-size: cover;
			background-position: 50% 50%;
			background-color: black;
			color: white;
			display: flex;
			align-items: flex-end;
			text-align: center;
			position: relative;
			cursor: pointer;
			padding-bottom: 100px;
			box-sizing: border-box;
			transition: background-position .3s $ease-primary;
			&:before{
				content: "";
				background: linear-gradient(to bottom, darken($color-secondary, 10%) 0%, rgba(darken($color-warn, 10%), 0.6) 100%);
				position: absolute;
				top: 0%;
				right: 0;
				bottom: 0;
				left: 0;
				transition: top .3s $ease-primary;
			}
			.container{
				width: 100%;
				position: relative;
				z-index: 10;
				padding: 0 100px;
				opacity: 0;
				transition: .3s $ease-primary;
			}
			&:hover{
				background-position: 50% 40%;
				&:before{
					top: -100%;
				}
				.container{
					transform: translate(0, -7px);
				}
			}
			&.swiper-slide-active{
				.container{
					opacity: 1;
				}
			}
		}
		&__title{
			font-size: 30px;
			text-transform: uppercase;
			font-family: Raleway;
			font-weight: 200;
			font-size: 5rem;
			padding-bottom: 20px;
			margin: 0 0 30px;
			position: relative;
			@include grid-column(12);
			&:after{
				content: "";
				position: absolute;
				height: 2px;
				width: 100px;
				background: white;
				left: 50%;
				top: 100%;
				transform: translate(-50%, 0);
			}
		}
		&__excerpt{
			width: 100%;
			margin: 0;
			font-family: Raleway;
			font-size: 1.8rem;
		}
		.ev-slideshow{
			&__arrow{
				font-size: 50px;
				color: white !important;
				position: absolute;
				top: 50%;
				transform: translate(0, -50%);
				z-index: 20;
				width: 80px;
				height: 80px;
				border-radius: 999px;
				border: 2px solid white;
				display: none;
				&--left{
					left: 30px;
				}
				&--right{
					right: 30px;
				}
			}
			&__pagination{
				position: absolute;
				bottom: 30px;
				left: 0;
				width: 100%;
				span{
					width: 20px;
					height: 20px;
					border-radius: 20px;
					border: 2px solid white;
					background: transparent !important;
					opacity: 1;
					position: relative;
					z-index: 20;
					&.swiper-pagination-bullet-active{
						&:before{
							content: "";
							position: absolute;
							width: 7px;
							height: 7px;
							top: 50%;
							left: 50%;
							border-radius: 10px;
							background: white;
							transform: translate(-50%, -50%);
						}
					}
				}
			}
		}
	}
</style>
