<template>
	<div class="ev-contact-map">
		<div class="ev-contact-map__institutions">
			<ev-contact-institution
				title="João Pessoa"
				address="Av. Cruz das Armas, 9 – Cruz das Armas, João Pessoa – PB, 58085-000"
				phone="(83) 3221-6040"
				:theme="active == 'jp' ? theme : ''"
				:dark="dark"
				:lat="-7.1275644"
				:lng="-34.8679344"
				@click="onSelect('jp', $event)"
			>
			</ev-contact-institution>

			<ev-contact-institution
				title="Campina Grande"
				address="Av. Cruz das Armas, 9 – Cruz das Armas, João Pessoa – PB, 58085-000"
				phone="(83) 3221-6040"
				:theme="active == 'cg' ? theme : ''"
				:dark="dark"
				@click="onSelect('cg', $event)"
			>
			</ev-contact-institution>

			<nav class="ev-contact-map__social">
				<span class="material-icons">
					share
				</span>
				<ev-button :icon="true" theme="">
					<span class="icon icon-facebook"></span>
				</ev-button>
				<ev-button :icon="true" theme="">
					<span class="icon icon-instagram"></span>
				</ev-button>
			</nav>
		</div>

		<ev-map
			ref="map"
			:lat="-7.1275644"
			:lng="-34.8679344"
			:zoom="15"
			:markers="markers"
		>
		</ev-map>
	</div>
</template>

<script>
	export default {
		components: {
			'ev-contact-institution': require('./ContactInstitution')
		},
		props: {
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			},
			dark: {
				type: Boolean,
				default: false
			}
		},
		data: () => ({
			active: 'jp',
			markers: [
				{ lat: -7.1275644, lng: -34.8679344 },
				{ lat: 0, lng: "0" }
			]
		}),
		methods: {
			onSelect(active, coord) {
				this.setActive(active);
				this.updateCoord(coord);
			},
			setActive(value) {
				this.active = value;
			},
			updateCoord(coord) {
				this.$refs.map.setCoord(coord.lat, coord.lng);
			}
		}
	}
</script>

<style lang="sass">
	.ev-contact-map{
		display: flex;
		&__institutions{
			@include grid-column(6);
		}
		&__social{
			text-align: right;
			.ev-button{
				margin-left: 10px;
			}
		}
		.ev-map{
			@include grid-column(6);
		}
	}
</style>
