<template>
	<div class="ev-contact-institution"
		:class="{ 'is-dark': dark }"
	>
		<ev-button class="ev-contact-institution__title"
			size="large"
			:theme="theme"
			@click="onClick"
		>
			{{ title }}
		</ev-button>
		<p class="ev-contact-institution__address">
			{{ address }}
		</p>
		<span class="ev-contact-institution__phone">
			{{ phone }}
		</span>
	</div>
</template>

<script>
	export default {
		props: {
			title: {
				type: String,
				default: ''
			},
			address: {
				type: String,
				default: ''
			},
			phone: {
				type: String,
				default: ''
			},
			lat: {
				type: Number,
				default: 0
			},
			lng: {
				type: Number,
				default: 0
			},
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			},
			dark: {
				type: Boolean,
				default: false
			}
		},
		computed: {
			coordinates() {
				return {
					lat: this.lat,
					lng: this.lng
				}
			}
		},
		methods: {
			onClick(event) {
				this.$emit('click', this.coordinates);
			}
		}
	}
</script>

<style lang="sass">
	.ev-contact-institution{
		text-align: right;
		margin-bottom: 40px;
		&__title{
			width: 100%;
		}
		&__address{
			font-size: 20px;
			width: 70%;
			display: inline-block;
			margin: 1em 0;
		}
		&__phone{
			display: block;
			font-size: 20px;
		}
		&.is-dark{
			color: white;
		}
	}
</style>
