<template>
	<header class="ev-header" :class="{ 'is-active': active }">
		<ev-header-toolbar
			theme="primary"
			:active="active"
			@open="onOpen"
		>
		</ev-header-toolbar>

		<transition name="fade-scale">
			<ev-header-nav
				v-if="open"
				@close="onClose"
			>
			</ev-header-nav>
		</transition>
	</header>
</template>

<script>
	export default {
		components: {
			'ev-header-toolbar': require('./HeaderToolbar'),
			'ev-header-nav': require('./HeaderNav')
		},
		data: () => ({
			active: false,
			open: false
		}),
		mounted() {
			window.addEventListener('scroll', e => {
				let scrollTop = document.body.scrollTop;

				this.active = scrollTop > 130;
			});
		},
		methods: {
			onOpen(event) {
				this.open = true;
			},
			onClose(event) {
				this.open = false;
			}
		}
	}
</script>

<style lang="sass">
	.ev-header{
		position: fixed;
		top: 30px;
		left: 0;
		width: 100%;
		z-index: 200;
		transition: top .3s $ease-primary;
		&.is-active{
			top: 0;
		}
		.ev-header-nav{
			z-index: 50;
		}
	}
	.menu-slide-enter-active, .menu-slide-leave-active {
		transition: .3s $ease-primary;
	}
	.menu-slide-enter-active {
		transition-delay: .3s;
	}
	.menu-slide-enter, .menu-slide-leave-active{
		opacity: 0;
		transform: translateX(-300px);
	}
</style>
