<template>
	<form @submit="onSubmit" class="ev-header-search"
		:class="{
			'is-active': active,
			'is-focus': focus
		}"
	>
		<button
			class="ev-header-search__icon ev-header-toolbar__button material-icons"
			@click="onSearch"
		>
			search
		</button>

		<div class="ev-header-search__wrapper">
			<div class="ev-header-search__input">
				<input ref="input"
					type="text"
					class="ev-header-search__element"
					placeholder="Palavra-chave"
					:value="keyword"
					@focus="onFocus"
					@blur="onBlur"
					@input="onChange"
					@keydown="onKeydown"
				>
			</div>

			<button
				class="ev-header-search__close ev-header-toolbar__button material-icons"
				@click="onClose"
			>
				close
			</button>
		</div>
	</form>
</template>

<script>
	import { mapGetters } from 'vuex';

	export default {
		data: () => ({
			active: false,
			focus: false,
			keyword: ''
		}),
		methods: {
			onChange(event) {
				this.keyword = event.target.value;
				this.$emit('change', this.keyword);
			},
			onFocus() {
				this.focus = true;
			},
			onBlur() {
				this.focus = false;
			},
			onSearch(event) {
				setTimeout(() => this.$refs.input.focus(), 200)
				this.active = true;
			},
			onClose(event) {
				this.active = false;
			},
			onSubmit(event) {
				event.preventDefault();
			},
			onKeydown(event) {
				if (event.keyCode == 13) {
					if (this.keyword.length == 0)
						return this.$store.commit('logger/error', {
							message: 'Por favor, preencha o campo de busca.'
						})

					this.$refs.input.blur();
					this.active = false;
					this.$router.push(`/search/${this.keyword}`);
				}
			}
		}
	}
</script>

<style lang="sass">
	$width: 250px;

	.ev-header-search{
		margin-bottom: 0;
		position: relative;
		transition: transform .4s $ease-primary;
		&__icon{
			transition: .3s $ease-primary;
			position: relative;
			z-index: 5;
		}
		&__input{
			border-bottom: 1px solid white;
			&:after{
				content: "";
				position: absolute;
				top: 100%;
				left: 0;
				height: 1px;
				background: white;
				width: 0%;
				transition: .3s $ease-primary;
			}
		}
		&__wrapper{
			width: 100px;
			position: absolute;
			left: 0;
			top: 12px;
			opacity: 0;
			visibility: hidden;
			transition: .4s $ease-primary;
		}
		&__element{
			width: 100%;
			word-wrap: nowrap;
			background: transparent;
			border: 0;
			color: white;
			padding: 11px 38px 7px;
			font-family: Raleway;
			font-weight: 600;
			font-size: 1.6rem;
		}
		&__close{
			padding: 0;
			position: absolute;
			top: 50%;
			right: 0%;
			transform: translateY(-50%) rotate(45deg);
			transition: .4s $ease-primary;
		}
		&.is-focus{
			.ev-header-search{
				&__input{
					&:after{
						width: 100%;
					}
				}
			}
		}
		&.is-active{
			transform: translateX(calc(100% - #{$width}));
			.ev-header-search{
				&__wrapper{
					width: $width;
				}
				&__close{
					right: 0%;
					transform: translateY(-50%) rotate(0deg);
				}
				&__wrapper{
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
</style>
