<template>
	<div class="ev-header-nav" theme="warn">
		<div class="ev-header-nav__wrapper">
			<span class="ev-header-nav__item">
				<router-link to="/" @click.native="onClose">
					<button class="ev-header-nav__link">
						Início
					</button>
				</router-link>
			</span>

			<span class="ev-header-nav__item">
				<router-link to="/about" @click.native="onClose">
					<button class="ev-header-nav__link">
						Sobre
					</button>
				</router-link>
			</span>

			<span class="ev-header-nav__item">
				<router-link to="/blog" @click.native="onClose">
					<button class="ev-header-nav__link">
						Notícias
					</button>
				</router-link>
			</span>

			<span class="ev-header-nav__item">
				<router-link to="/events" @click.native="onClose">
					<button class="ev-header-nav__link">
						Eventos
					</button>
				</router-link>
			</span>
		</div>
		<span class="ev-header-nav__overlay" @click="onClose">
		</span>
	</div>
</template>

<script>
	import anime from 'animejs';

	export default {
		mounted() {
			/*anime({
				targets: document.body,
				marginLeft: [0, 300],
				duration: 400,
				easing: 'easeInOutExpo'
			});*/
		},
		destroyed() {
			/*anime({
				targets: document.body,
				marginLeft: [300, 0],
				duration: 150,
				easing: 'linear'
			});*/
		},
		methods: {
			onClose(event) {
				this.$emit('close', event);
			}
		}
	}
</script>

<style lang="sass">
	.ev-header-nav{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		&__overlay{
			content: "";
			position: absolute;
			top: -100%;
			right: -100%;
			bottom: -100%;
			left: -100%;
			background: rgba(black, 0.7);
			z-index: -1;
		}
		&__wrapper{
			position: absolute;
			top: 0;
			left: 0px;
			width: 300px;
			height: 100%;
			display: flex;
			background: linear-gradient(to bottom right, rgba($color-warn, 0.8) 0%, rgba($color-secondary, 0.8) 100%);
			flex-flow: row wrap;
			align-content: center;
			box-shadow: 0 0 30px rgba(black, 0.6);
		}
		&__item{
			position: relative;
			width: 100%;
		}
		&__link{
			width: 100%;
			padding: 20px 30px;
			background: transparent;
			font-weight: 200;
			font-family: Raleway;
			font-size: 3.6rem;
			border: 0;
			white-space: nowrap;
			color: white;
			cursor: pointer;
			text-align: right;
		}
	}
</style>
