<template>
	<div class="ev-search">
		<form @submit="onSubmit" class="ev-search__form">
			<h1 class="ev-search__title">
				Exibindo resultados com a palavra-chave:
			</h1>

			<ev-text
				size="large"
				theme="primary"
				v-model="keyword"
				name="keyword"
				@keydown="onKeyDown"
			>
			</ev-text>
		</form>

		<div class="container">
			<div class="ev-search__blog">
				<h2 class="ev-search__subtitle">
					Notícias
				</h2>

				<ev-post-card
					v-for="post in posts"
					theme="warn"
					:title="post.title"
					:excerpt="post.excerpt"
					:thumbnail="post.thumbnail"
					:categories="post.categories"
					:key="post.id"
					@click="postRead(post)"
					@category-click="onCategorySelect"
				>
				</ev-post-card>
			</div>

			<div class="ev-search__events">
				<h2 class="ev-search__subtitle">
					Eventos
				</h2>

				<ev-event-card
					v-for="event in events"
					theme="secondary"
					:title="event.title"
					:excerpt="event.excerpt"
					:thumbnail="event.thumbnail"
					:date="event.date"
					:institution="event.institution"
					:key="event.id"
					@click="eventRead(event)"
				>
				</ev-event-card>
			</div>
		</div>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex';
	import { $store } from '../../main';

	export default {
		components: {
			'ev-post-card': require('../post/PostCard'),
			'ev-event-card': require('../event/EventCard'),
		},
		data: () => ({
			keyword: ''
		}),
		computed: {
			...mapGetters({
				posts: 'search/getPosts',
				events: 'search/getEvents'
			})
		},
		beforeRouteEnter(to, from, next) {
			Promise.all([
				$store.dispatch('search/fetchPosts', to.params.keyword),
				$store.dispatch('search/fetchEvents',  to.params.keyword)
			])
				.then(([posts, events]) => {
					next(vm => {
						vm.keyword = to.params.keyword;
					})
				})
		},
		methods: {
			onSubmit(event) {
				event.preventDefault();
			},
			onKeyDown(event) {
				if (event.keyCode == 13) {
					this.$router.push(`/search/${this.keyword}`);

					// Fetch posts and events
					Promise.all([
						$store.dispatch('search/fetchPosts', this.keyword),
						$store.dispatch('search/fetchEvents', this.keyword)
					])
				}
			},
			postRead(post) {
				this.$router.push(`/blog/read/${post.id}`);
			},
			eventRead(event) {
				this.$router.push(`/events/read/${event.id}`);
			},
			onCategorySelect(category) {
				this.$store.commit('blog/setSelected', [category]);
				this.$router.push('/blog');
			}
		}
	}
</script>

<style lang="sass">
	.ev-search{
		position: relative;
		padding-top: 200px;
		&:before,
		&:after{
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			width: 50%;
		}
		&:before{
			left: 0;
			background: $color-secondary;
		}
		&:after{
			right: 0;
			background: $color-warn;
		}
		&__form{
			text-align: center;
			padding: 10px 40px;
			position: relative;
			z-index: 10;
			background: white;
			color: $color-primary;
			border-radius: 10px;
			width: 500px;
			margin: auto auto 50px;
			display: block;
			box-shadow: 0 2px 4px -1px rgba(black, .2), 0 4px 5px rgba(black, .14), 0 1px 10px rgba(black, .12);
			.ev-text{
				&__element{
					text-align: center;
				}
			}
		}
		&__title{
			font-family: Raleway;
			font-weight: 400;
			font-size: 3.2rem;
			margin: 1em 0;
		}
		&__input{
			font-family: Raleway;
			font-size: 5rem;
			color: white;
			border: 0;
			background: transparent;
			text-align: center;
		}
		&__subtitle{
			font-family: Raleway;
			font-size: 4rem;
			font-weight: 200;
			color: white;
			margin: 1em 0;
			text-align: center;
			display: flex;
			align-items: center;
			&:before,
			&:after{
				content: "";
				height: 1px;
				background: white;
				flex: 1;
			}
			&:before{
				margin-right: 20px;
			}
			&:after{
				margin-left: 20px;
			}
		}
		&__blog,
		&__events{
			position: relative;
			z-index: 10;
			@include grid-column(5, (columns: 11));
		}
		&__events{
			@include grid-push(1, (columns: 11));
		}
		.ev-post-card,
		.ev-event-card{
			margin-bottom: 30px;
		}
	}
</style>
