<template>
	<aside class="ev-blog-filter">
		<ev-text
			label="Palavra-chave"
			size="small"
			name="keyword"
			v-model="keyword"
			:theme="theme"
			@keyup="onKeyUp"
		>
		</ev-text>

		<div class="ev-blog-filter__categories">
			<ev-button
				v-for="category in categories"
				size="small"
				:ripple="false"
				:theme="isSelected(category) !== false ? theme : ''"
				:key="category.id"
				@click="onSelect(category)"
			>
				{{ category.name }}
			</ev-button>
		</div>
	</aside>
</template>

<script>
	import { mapGetters } from 'vuex';
	import { $store } from '../../main';

	export default {
		props: {
			theme: {
				type: String,
				default: 'warn'
			},
			categories: {
				type: Array,
				default: () => []
			}
		},
		data: () => ({
			timer: null
		}),
		computed: {
			...mapGetters({
				selected: 'blog/getSelected'
			}),
			keyword: {
				get () {
					return $store.state.blog.keyword;
				},
				set (value) {
					$store.commit('blog/setKeyword', value);
				}
			}
		},
		methods: {
			toggleSelected(category) {
				// Unchecks everything when lengths are the same
				if (this.selected.length == this.categories.length)
					this.selected = [];

				// Get selected category index
				let index = this.isSelected(category)

				// Toggle selected array
				if (index)
					this.selected.splice(index, 1);
				else
					this.selected.push(category);

				// Checks everything when no category was selected
				if (this.selected.length == 0)
					this.selected.push(...this.categories);
			},
			isSelected(category) {
				let valid = false;

				console.log(category, this.selected);
				this.selected.forEach((selected, index) => {
					if (selected.id == category.id)
						valid = index;
				})

				return valid;
			},
			onSelect(category) {
				this.toggleSelected(category);

				this.$emit('select', this.selected);
				this.$store.commit('blog/setSelected', this.selected);
				this.$store.dispatch('blog/fetchPosts')
			},
			onKeyUp(event) {
				clearTimeout(this.timer);

				this.timer = setTimeout(() => {
					this.$store.commit('blog/setKeyword', event.target.value);
					this.$store.dispatch('blog/fetchPosts')
				}, 500);
			}
		}
	}
</script>

<style lang="sass">
	.ev-blog-filter {
		.ev-button{
			margin-bottom: 0.25em;
			margin-right: 0.25em;
		}
		.ev-donation-widget{
			margin-top: 60px;
		}
	}
</style>
