<template>
	<div class="ev-blog">
		<ev-inner-header title="Notícias" :theme="theme">
		</ev-inner-header>

		<div class="container">
			<div class="ev-blog__body">
				<div class="ev-blog__posts">
					<ev-post-card
						v-for="post in posts"
						:theme="theme"
						:title="post.title"
						:excerpt="post.excerpt"
						:thumbnail="post.thumbnail"
						:categories="post.categories"
						:key="post.id"
						@click="read(post)"
						@category-click="onCategoryClick"
					>
					</ev-post-card>
				</div>
			</div>

			<div class="ev-blog__sidenav">
				<ev-blog-filter
					:theme="theme"
					:categories="categories"
				>
				</ev-blog-filter>

				<ev-donation-widget
					theme="primary"
					:dark="true"
					size="small"
					@submit="$router.push('/blog/donate')"
				>
				</ev-donation-widget>

				<ev-volunteer-widget
					theme="accent"
					:dark="true"
					size="small"
					@submit="$router.push('/blog/volunteer')"
				>
				</ev-volunteer-widget>
			</div>
		</div>

		<transition name="fade-scale">
			<router-view @close="$router.push('/blog')"></router-view>
		</transition>
	</div>
</template>

<script>
	import { mapGetters } from 'vuex';
	import { $store } from '../../main';

	export default {
		beforeRouteEnter (to, from, next) {
			Promise.all([
				$store.dispatch('blog/fetchPosts'),
				$store.dispatch('blog/fetchCategories')
			])
				.then((posts, categories) => {
					next();
				})
		},
		components: {
			'ev-blog-filter': require('./BlogFilter'),
			'ev-post-card': require('../post/PostCard'),
			'ev-donation-widget': require('../donation/DonationWidget'),
			'ev-volunteer-widget': require('../volunteer/VolunteerWidget')
		},
		data: () => ({
			theme: 'warn'
		}),
		computed: {
			...mapGetters({
				posts: 'blog/getPosts',
				categories: 'blog/getCategories'
			})
		},
		methods: {
			read(post) {
				this.$router.push(`/blog/read/${post.id}`);
			},
			onCategoryClick(category) {
				this.$store.commit('blog/setSelected', [category]);
				this.$store.dispatch('blog/fetchPosts');
			}
		}
	}
</script>

<style lang="sass">
	.ev-blog{
		background: white;
		&__body{
			@include grid-column(8);
		}
		&__sidenav{
			@include grid-column(3);
			@include grid-push(1);
			> *{
				margin-bottom: 40px;
			}
		}
		&__posts{
			.ev-post-card{
				margin-bottom: 30px;
			}
		}
	}
</style>
