<template>
	<div class="ev-blog-read"
		:class="{
			'ev-blog-read--primary': theme == 'primary',
			'ev-blog-read--secondary': theme == 'secondary',
			'ev-blog-read--accent': theme == 'accent',
			'ev-blog-read--warn': theme == 'warn'
		}"
	>
		<div class="ev-blog-read__background"
			:style="{
				'background-image': `url(${post.thumbnail ? post.thumbnail.src : ''})`
			}"
		>
		</div>

		<div class="container">
			<div class="ev-blog-read__body">
				<header class="ev-blog-read__header">
					<h3 class="ev-blog-read__title">
						{{ post.title }}
					</h3>

					<div class="ev-blog-read__categories">
						<ev-button
							size="small"
							class="ev-blog-read__category"
							v-for="category in post.categories"
							:key="category.id"
							:theme="theme"
							:dark="true"
							:ripple="false"
							@click="onCategorySelect(category)"
						>
							{{ category.name }}
						</ev-button>
					</div>

					<time class="ev-blog-read__time">
						<span class="material-icons">
							access_time
						</span>
						{{ post.created_at }}
					</time>
				</header>

				<ev-social-share :theme="theme">
				</ev-social-share>

				<ev-content
					v-if="quill"
					v-html="content"
					:theme="theme"
					@fullscreen="onFullscreen"
				>
				</ev-content>

				<div class="ev-blog-read__quill">
				</div>

				<footer class="ev-blog-read__footer">
					<ev-post-gallery
						:images="post.gallery"
						:theme="theme"
					>
					</ev-post-gallery>
				</footer>
			</div>

			<div class="ev-blog-read__sidenav">
				<ev-partner-widget theme="accent" :dark="true">
				</ev-partner-widget>

				<ev-donation-widget
					theme="primary"
					:dark="true"
					size="small"
					@submit="$router.push('/blog/read/slug/donate')"
				>
				</ev-donation-widget>

				<ev-volunteer-widget
					theme="accent"
					:dark="true"
					size="small"
					@submit="$router.push('/blog/read/slug/volunteer')"
				>
				</ev-volunteer-widget>
			</div>

			<ev-post-related :posts="related" :theme="theme">
			</ev-post-related>
		</div>

		<!-- FIXME: We should store the last route into donation module -->
		<transition name="fade-scale">
			<router-view @close="$router.go(-1)">
			</router-view>
		</transition>
	</div>
</template>

<script>
	import { $store } from '../../main';
	import Quill from 'quill';

	export default {
		components: {
			'ev-donation-widget': require('../donation/DonationWidget'),
			'ev-volunteer-widget': require('../volunteer/VolunteerWidget'),
			'ev-partner-widget': require('../partner/PartnerWidget'),
			'ev-post-related': require('../post/PostRelated'),
			'ev-post-gallery': require('../post/PostGallery')
		},
		beforeRouteEnter (to, from, next) {
			$store.dispatch('blog/getPost', { id: to.params.id })
				.then(post => {
					next(vm => {
						vm.post = post
						vm.quill = new Quill('.ev-blog-read__quill');
						vm.quill.setContents(vm.post.content.ops);
					})
				})
		},
		data: () => ({
			theme: 'warn',
			post: {},
			related: [
				{
					title: 'Lorem ipsum',
					thumbnail: 'https://lorempixel.com/400/300'
				},
				{
					title: 'Lorem ipsum',
					thumbnail: 'https://lorempixel.com/400/301'
				},
			],
			quill: null
		}),
		computed: {
			content () {
				return this.quill.container.firstChild.innerHTML;
			}
		},
		methods: {
			onFullscreen(event) {
				this.$store.commit('gallery/open', event);
			},
			onCategorySelect(category) {
				this.$store.commit('blog/setSelected', [category]);
				this.$router.push('/blog');
			}
		}
	}
</script>

<style lang="sass">
	.ev-blog-read{
		background: white;
		&__quill{
			display: none;
		}
		&__background{
			background-image: url(http://lorempixel.com/1024/768);
			background-position: center;
			background-size: cover;
			background-color: $color-warn;
			height: 600px;
			position: relative;
			box-shadow: 0 30px 60px -30px rgba(black, .2);
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(to right bottom, rgba(black, 0.7) 0%, rgba(black, 0) 70%);
			}
		}
		&__header{
			position: absolute;
			bottom: 100%;
			left: 0px;
			right: 0px;
			padding: 30px 0;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
		}
		&__title{
			font-size: 5.8rem;
			margin: 0 0 .5em;
			color: white;
			font-family: Raleway;
			font-weight: 200;
			flex: 1 100%;
			line-height: 100%;
		}
		&__categories{
			display: inline-block;
			flex: 1 50%;
		}
		&__category{
			margin-right: 0.25em;
		}
		&__time{
			display: inline-flex;
			align-items: center;
			justify-content: flex-end;
			color: white;
			font-size: 1.2rem;
			font-weight: 700;
			flex: 1 50%;
			span.material-icons{
				font-size: 2rem;
				margin-right: 5px;
				display: inline-block;
			}
		}
		&__body{
			background: white;
			margin-top: -200px;
			position: relative;
			padding: 60px 40px 60px 80px;
			border-radius: 10px;
			box-sizing: border-box;
			@include grid-column(9);
		}
		&__footer{
			margin: 80px -30px 0;
			.ev-post-attachments{
				margin-bottom: 40px;
			}
		}
		&__sidenav{
			margin-top: -200px;
			position: relative;
			@include grid-column(3);
			.ev-donation-widget,
			> *{
				margin-bottom: 40px;
			}
		}
		.ev-social-share{
			position: absolute;
			left: -10px;
			top: 350px;
		}
		.ev-post-related{
			margin-bottom: 80px;
			@include grid-column(12);
		}

		// Theming
		@each $theme, $color in $themes{
			&--#{$theme}{
				.ev-blog-read{
					&__background:before{
						background: linear-gradient(to right bottom, rgba(darken($color-secondary, 20%), 0.9) 0%, rgba($color, 0.9) 100%);
					}
					&__footer{
						border-color: $color;
					}
				}
			}
		}
	}
</style>
