<template>
	<div class="ev-post-gallery"
		:class="{
			'ev-post-gallery--primary': theme == 'primary',
			'ev-post-gallery--secondary': theme == 'secondary',
			'ev-post-gallery--accent': theme == 'accent',
			'ev-post-gallery--warn': theme == 'warn'
		}"
	>
		<ev-gallery
			v-if="images.length > 0"
			:theme="theme"
			:images="images"
			@select="onSelect"
		>
		</ev-gallery>
	</div>
</template>

<script>
	import { mapMutations } from 'vuex';

	export default {
		props: {
			theme: {
				type: String,
				default: 'primary' // primary|secondary|accent|warn
			},
			images: {
				type: Array,
				default: () => []
			}
		},
		data: () => ({
			//
		}),
		methods: {
			onSelect(index) {
				this.$store.commit('gallery/open', {
					images: this.images,
					index: index + 1
				});
			}
		}
	}
</script>

<style lang="sass">
	.ev-post-gallery{
		&__title{
			font-size: 3.2rem;
			font-family: Raleway;
			font-weight: 200;
		}

		// Theming
		@each $theme, $color in $themes{
			&--#{$theme}{
				.ev-post-gallery{
					&__title{
						color: $color;
					}
				}
			}
		}
	}
</style>
