<template>
	<div class="ev-app">
		<ev-header ref="header">
		</ev-header>

		<ev-logger ref="logger">
		</ev-logger>

		<transition name="router">
			<router-view></router-view>
		</transition>

		<transition name="fade-scale">
			<ev-gallery-fullscreen ref="gallery"
				v-if="galleryActive"
				:images="galleryImages"
				:start="galleryStart"
				@close="galleryClose"
			>
			</ev-gallery-fullscreen>
		</transition>
	</div>
</template>

<script>
	import { mapGetters, mapMutations } from 'vuex';

	export default {
		components: {
			'ev-header': require('./components/header/Header'),
			'ev-logger': require('./components/logger/Logger')
		},

		mounted() {
			document.title = 'Associação Esperança e Vida';
		},

		computed: {
			...mapGetters({
				galleryActive: 'gallery/isActive',
				galleryImages: 'gallery/getImages',
				galleryStart: 'gallery/getStart'
			})
		},

		methods: {
			...mapMutations({
				galleryClose: 'gallery/close'
			})
		}
	}
</script>

<style lang="sass">
	@import "src/stylesheet/defaults";
	@import "src/stylesheet/third-party";
</style>
